<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery.min.js"></script>
</head>
<body>
測試
    
    <script>

        $('body').append('<button>A</button>')

        $('button').on({
            mouseenter:function(){},
            mouseleave:function(){}
        })

        $('button').click(function(){
            // console.log($(this).text());
            console.log(this.innerText);
        });
    </script>
</body>
</html>