<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- <script src="/javascripts/bootstrap.min.js"></script> -->
    <!-- <script src="/javascript/jquery-3.5.1.min.js"></script> -->
    <!-- <script src="/javascript/popper.min.js"></script> -->
    <!-- <script src="/javascripts/jquery.min.js"></script> -->
    <script src="/javascripts/vue.js"></script>

</head>

<body>

    <div id="app" class="row m-5">
        <h1 class="col-12">刪除資料</h1>
        <p class="col-12">用post方法刪除資料，輸入memberID，按送出，畫面會即時更新一次</p>
        <table class="col-12">
            <input class="col-6" type="text" id="mID" value="">
            <button class="col-6">送出</button>
        </table>
        <div class="col-6">
            <div v-for="(data,index) in vuedata">{{data.memberID}}</div>
        </div>
        <div class="col-6">
            <div v-for="(data,index) in vuedata">{{data.memberName}}</div>
        </div>
    </div>


    <script>
        let app = new Vue({

            el: '#app',
            data: {
                vuedata: JSON.parse('<%- str %>')
            }

        })

        let deleteInput = {
            // 要放輸入框的值的地方
            mId: ""
        }

        document.querySelector("#mID")
            .addEventListener("input", function(e) {
                // 把輸入框的值丟去該放的地方
                deleteInput.mId = e.target.value;
            })

        document.querySelector("button")
            .addEventListener("click", function() {

                fetch('http://localhost:3000/delete/', {
                        method: 'POST',
                        body: JSON.stringify(deleteInput),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        }),
                    })
                    .then(
                        // 畫面重新跟新
                        location.reload()
                    )
                    .catch(
                        error => console.error('Error:', error)
                    )

            })
    </script>

</body>

</html>