<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/notice.css">
    <link rel="stylesheet" href="../public/stylesheets/sEvaluation.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/order.css"> -->
    <title>dingding</title>
</head>
<body>
    <div class="col-4 pr-3 imgCard" data-toggle="modal" data-target="#storeModel">
        <div class="dingImgDiv" style="width:  100%">
            <img src="../public/image/store/Taichung/太初麵食/index.jpeg" class="card-img-top dingImg"
                alt="...">
            <i class="heart icon-heart"></i>
            <div class="card-body">
                <div class="d-inline-block w-75">
                    <span class="card-text text24B shopName">太初麵食</span>
                </div>
                <i class="icon-spoon float-right"></i>
                <span class="card-text eng24R float-right" style="margin-right: 7px;">4.8</span>

            </div>
        </div>
    </div>

    <!-- 店家彈框(有評價) -->
    <div class="modal fade storeModel" id="storeModel">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="storeModelImg align-middle">
                    <div class="storeModelImgContent">
                        <span class="text28B mr16">太初麵食</span>
                        <span class="eng24R mr16">4.8</span>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-borderspoon"></i>
                        <!-- <br> -->
                        <p class="text20RG" style="margin-top: 8px;">訂單完成率 87% </p>
                        <!-- <br> -->
                        <p class="text20R" style="margin-top: 8px;">台中市南屯區公益路二段51號</p>
                    </div>
                    <div class="storeModelImgContentBottom">
                        <i class="icon-heart"></i>
                        <button class="dbtn dbtnG text20R" style="float: right;">快速安排訂單</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="storeClose icon-close"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-header col-2" style="padding-right: 0px;"></div>
                    <!-- margin-top: 493px; -->
                    <div class="col-10 ml-n5 mr-5" style=" ">
                        <div style="background-color: var(--dWhite);width: 500px;height: 86px;padding-top: 40px;">
                            <span class="dTag text24RG">美味餐點</span>
                            <span class="dTag text24RG">詳細資訊</span>
                            <span class="dTag text24RG act">店家評價</span>
                        </div>
                        <br>
                        <div class="mealsScroll">
                            <ul class="evaluationList">
                                <!-- 1 -->
                                <li class="dblock d-flex pl-0">
                                    <!-- <span class="photo"></span> -->
                                    <img src="../public/image/message.png">
                                    <span class="content">
                                        <h2 class="text24B">王小華</h2>
                                        <div class="star">
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-borderspoon"></i>
                                        </div>
                                        <p class="text20R">上次訂餐非常準時地送到了，用完餐當天的熱暑也退得差不多了，是一次很棒的用餐體驗，下次會繼續訂訂！</p>
                                        <p class="text16">3小時前</p>
                                    </span>
                                </li>
                                <!-- 2 -->
                                <li class="dblock d-flex pl-0">
                                    <!-- <span class="photo"></span> -->
                                    <img src="../public/image/message.png">
                                    <span class="content">
                                        <h2 class="text24B">陳大明</h2>
                                        <div class="star">
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-borderspoon"></i>
                                        </div>
                                        <p class="text20R">每次不知道吃什麼的時候就會想到要吃摩斯，穩定的品質讓人吃得很放心，安心的食材把關讓人覺得開心以後會持續訂訂！</p>
                                        <p class="text16">3小時前</p>
                                    </span>
                                </li>
                                <!-- 3 -->
                                <li class="dblock d-flex pl-0">
                                    <!-- <span class="photo"></span> -->
                                    <img src="../public/image/message.png">
                                    <span class="content">
                                        <h2 class="text24B">陳大明</h2>
                                        <div class="star">
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-borderspoon"></i>
                                        </div>
                                        <p class="text20R">每次不知道吃什麼的時候就會想到要吃摩斯，穩定的品質讓人吃得很放心，安心的食材把關讓人覺得開心以後會持續訂訂！</p>
                                        <p class="text16">3小時前</p>
                                    </span>
                                </li>
                                <!-- 4 -->
                                <li class="dblock d-flex pl-0">
                                    <!-- <span class="photo"></span> -->
                                    <img src="../public/image/message.png">
                                    <span class="content">
                                        <h2 class="text24B">陳大明</h2>
                                        <div class="star">
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-spoon"></i>
                                            <i class=" icon-borderspoon"></i>
                                        </div>
                                        <p class="text20R">每次不知道吃什麼的時候就會想到要吃摩斯，穩定的品質讓人吃得很放心，安心的食材把關讓人覺得開心以後會持續訂訂！</p>
                                        <p class="text16">3小時前</p>
                                    </span>
                                </li>
                    
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>