<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/notice.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <!-- <link rel="stylesheet" href="../public/stylesheets/order.css"> -->
    <title>dingding</title>
</head>
<body>
    <div class="col-4 pr-3 imgCard" data-toggle="modal" data-target="#storeModel">
        <div class="dingImgDiv" style="width:  100%">
            <img src="../public/image/store/Taichung/太初麵食/index.jpeg" class="card-img-top dingImg"
                alt="...">
            <i class="heart icon-heart"></i>
            <div class="card-body">
                <div class="d-inline-block w-75">
                    <span class="card-text text24B shopName">太初麵食</span>
                </div>
                <i class="icon-spoon float-right"></i>
                <span class="card-text eng24R float-right" style="margin-right: 7px;">4.8</span>

            </div>
        </div>
    </div>

    <!-- 店家彈框(有評價) -->
    <div class="modal fade storeModel" id="storeModel">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="storeModelImg align-middle">
                    <div class="storeModelImgContent">
                        <span class="text28B mr16">太初麵食</span>
                        <span class="eng24R mr16">4.8</span>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-spoon"></i>
                        <i class="icon-borderspoon"></i>
                        <!-- <br> -->
                        <p class="text20RG" style="margin-top: 8px;">訂單完成率 87% </p>
                        <!-- <br> -->
                        <p class="text20R" style="margin-top: 8px;">台中市南屯區公益路二段51號</p>
                    </div>
                    <div class="storeModelImgContentBottom">
                        <i class="icon-heart"></i>
                        <button class="dbtn dbtnG text20R" style="float: right;">快速安排訂單</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="storeClose icon-close"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="modal-header col-2" style="padding-right: 0px;">
                        <!-- <ul class="storeUl">
                            <li>
                                <a class="storeContent actMeals" href="#title01">店家推薦</a>
                            </li>
                            <li>
                                <a class="storeContent" href="#title02">人氣餐點</a>
                            </li>
                            <li>
                                <a class="storeContent" href="#title03">套餐</a>
                            </li>
                            <li>
                                <a class="storeContent" href="#title04">單點</a>
                            </li>
                            <li>
                                <a class="storeContent" href="#title05">飲品</a>
                            </li>
                        </ul> -->


                    </div>
                    <!-- margin-top: 493px; -->
                    <div class="col-10 ml-n5 mr-5" style=" ">
                        <div style="background-color: var(--dWhite);width: 500px;height: 86px;padding-top: 40px;">
                            <span class="dTag text24RG">美味餐點</span>
                            <span class="dTag text24RG act">詳細資訊</span>
                            <span class="dTag text24RG">店家評價</span>
                        </div>
                        <br>
                        <div class="mealsScroll">
                            <div class="text28B mt-l" style="margin-bottom: 11px;">店家簡介</div>
                            <div style="padding-right: 165px;padding-left: 16px;">
                                <p class="text20R" style="color: var(--dDeepGray);">在炎熱的天氣中，摩絲漢堡-西屯店與眾不同的讓人感受到一股寒冷的氣息，讓炎熱的天氣不再炎熱，吹冷氣蓋棉被大概就是這種感覺吧！</p>
                            </div>
                            <div class="text28B mt-l" style="margin-bottom: 11px;">店家資訊</div>
                            <div style="padding-right: 165px;padding-left: 16px;">
                                <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 7px;">04-75220988</p>
                                <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 7px;">台中市北區西屯路456號</p>
                                <p class="text20R" style="color: var(--dDeepGray);margin-bottom: 15px;">08:00-22:00</p>
                                <p class="text20B" style="color: var(--dRed);">公休日&nbsp;<span>週三</span></p>
                            </div>
                            <div class="text28B mt-l" style="margin-bottom: 11px;">配送地區</div>
                            <div style="padding-right: 165px;padding-left: 16px;">
                                <p class="text20R" style="color: var(--dDeepGray);">台中市南屯區 / 台中市西區</p>
                            </div>
                            <div class="text28B mt-l" style="margin-bottom: 11px;">注意事項</div>
                            <div style="padding-right: 165px;padding-left: 16px;">
                                <p class="text20R" style="color: var(--dDeepGray);">滿500才協助外送喔!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>