<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/notice.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <title>Document</title>
</head>

<body>

    <a class="text20B" data-toggle="modal" data-target="#inputXLregistered">註冊</a>
    <!-- 店家註冊彈框 -->
    <div class="modal fade inputXL" id="inputXLregistered">
        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content modal-content-index">
                <div class="modelImgDivStoreLogin">
                    <img src="../public/image/storeLogin.png" style="width: 398px;height: auto;" alt="">
                </div>
                <div style="width: 690px;position: absolute; right: 0;">
                    <div class="modal-header-index">
                        <div class="dTag text24RG" style="display: inline-block;">一般用戶註冊</div>
                        <div class="dTag act text24RG" style="display: inline-block;">企業用戶註冊</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="modal-continer-index">

                        <p class="text20B mb-2">
                            帳號
                        </p>
                        <input type="text" class="text20RG singleText398 " placeholder="請輸入電子信箱">
                        <p class="text20B mb-2">
                            密碼
                        </p>
                        <input type="text" class="text20RG singleText398 " placeholder="請輸入密碼">


                        <button class="text20R dbtn btn398 " style="margin-bottom: 24px;">送出登記</button>
                        <div style="padding-left: 55px;margin-bottom: 80px;">
                            <span style="font-size: 16px; margin-right: 16px;">送出登記後，我們將有專人會與您聯絡</span>
                            
                        </div>

                    </div>
                    <div style="padding-right: 60px;padding-left: 138px;margin-top: 190px;display: block;">
                        <span style="font-weight: 700;margin-right: 14px;">客服專線</span>
                        <span style="color: var(--dYellow);margin-right: 14px;">|</span>
                        <span>0800-000-123</span>
                        <div style="float: right;">
                            <span
                                style="color: var(--dYellow);font-weight: 700;margin-right: 13px; vertical-align: middle;">聯絡客服</span>
                                <img src="../public/image/service01.png"
                                style="width: 16px; height: auto;line-height: 24px;" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>