<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">

    <link rel="stylesheet" href="../public/stylesheets/memgroup.css">


</head>

<body>

    <div class="Wrapper">
        <div class="wrapper1920">
            <!-- 左邊sider -->
            <div class="slider fixed-top">
                <img src="../public/image/LOGO.png" class="sliderLogo">
                <br>
                <img src="../public/image/photo.jpg" class="sliderPhoto">
                <p class="name text24B">阿信</p>
                <div class="menu text24R">
                    <a href=""><i class="icon-home"></i>首頁</a>
                    <a href="" class="act"><i class="icon-claendar"></i>訂訂行事曆</a>
                    <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                            style="font-size: 14px;"></i></a>
                    <span class="menuI d-none">
                        <a href="" class="mb-0">個人資料</a>
                        <a href="">我的訂訂幣</a>
                    </span>
                    <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
                    <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
                </div>
            </div>

            <div class="containerRight">
                <!-- 右邊內容放置區 -->

                <!-- 功能列 -->
                <div class="mt-l mb-m" style="margin-left: 40px; width: 1260px;">

                    <span>
                        <button class="mr-xs text20R dbtn btnGY">訂訂行事曆</button>
                        <button class="mr-xs text20R dbtn btnGY btnY">我的團體</button>
                        <button class="mr-xs text20R dbtn btnGY">我的訂單</button>
                        <button class="text20R dbtn btnGB">我的投票</button>
                    </span>

                </div>

                <!-- 反白區 -->
                <div class="dblock row">

                    <div class="col-12">
                        <span class="float-right">
                            <input type="text" class="text20RG singleText398 mr-xs" placeholder="請輸入團號"
                                style="width: 228px;" data-toggle="modal" data-target="#inputS">

                            <button type="button" class="text20R dbtn btnY mr-xs" data-toggle="modal"
                                data-target="#joinThisG">
                                加入團體</button>
                            <div class="modal fade inputS" id="joinThisG">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text28B w-100 text-center">就愛烤肉團</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class=" icon-close"></i>
                                            </button>
                                        </div>
                                        <div class="modal-continer">
                                            <h5 class="modal-title text24RG w-100 text-center">團長 ： Stark</h5>
                                        </div>
                                        <div class="modal-footer m-auto">
                                            <button type="button" class="dbtn btnW text20R" data-dismiss="modal"
                                                style="margin-right: 24px;">取消返回</button>
                                            <button type="button" class="dbtn btnY text20R">加入此團</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="text20R dbtn btnB" data-toggle="modal" data-target="#addThisG">
                                建立團體<span class="ml-2">+</span>
                        </button>
                        <div class="modal fade inputS" id="addThisG">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text28B w-100 text-center">建立新團體</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <i class=" icon-close"></i>
                                            </button>
                                    </div>
                                    <div class="modal-continer">
                                        <input type="text" class="text20RG singleText398 " placeholder="請輸入團體名稱">
                                    </div>
                                    <div class="modal-footer m-auto">
                                        <button type="button" class="dbtn btnW text20R" data-dismiss="modal" style="margin-right: 24px;">取消返回</button>
                                        <button type="button" class="dbtn btnY text20R">建立團體</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </span>
                    </div>
                    <div class="col-12">
                        <div class="row mt-4 text20BW">
                            <div class="col-2 mTH">團號</div>
                            <div class="col-5 mTH">團名</div>
                            <div class="col-5 mTH">團長</div>
                        </div>
                        <div>
                            <div class="scrollList orderVoteList">
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                                <div class="row mTR d-flex align-items-center" style="height: 56px;">
                                    <div class="col-2 pl-m eng20R">1node6</div>
                                    <div class="col-5 pl-m text20B">火鍋團</div>
                                    <div class="col-5 pl-xm text20B">阿信<i class="icon-right-open float-right textY mr-m"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</body>

</html>