<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/memcalendar.css">


</head>

<body>

    <div class="Wrapper">
        <div class="wrapper1920">
            <!-- 左邊sider -->
            <div class="slider fixed-top">
                <img src="../public/image/LOGO.png" class="sliderLogo">
                <br>
                <img src="../public/image/photo.jpg" class="sliderPhoto">
                <p class="name text24B">阿信</p>
                <div class="menu text24R">
                    <a href=""><i class="icon-home"></i>首頁</a>
                    <a href="" class="act"><i class="icon-claendar"></i>訂訂行事曆</a>
                    <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                            style="font-size: 14px;"></i></a>
                    <span class="menuI d-none">
                        <a href="" class="mb-0">個人資料</a>
                        <a href="">我的訂訂幣</a>
                    </span>
                    <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
                    <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
                </div>
            </div>

            <div class="containerRight">
                <!-- 右邊內容放置區 -->

                <!-- 功能列 -->
                <div class="mt-l mb-m" style="margin-left: 40px; width: 1260px;">

                    <span>
                        <button class="mr-xs text20R dbtn btnGY btnY">訂訂行事曆</button>
                        <button class="mr-xs text20R dbtn btnGY">我的團體</button>
                        <button class="mr-xs text20R dbtn btnGY">我的訂單</button>
                        <button class="text20R dbtn btnGB">我的投票</button>
                    </span>
                    <span class="float-right">
                        <input type="text" class="text20RG singleText400 mr-xs" placeholder="請輸入團號">
                        <button class="text20R dbtn btnGY btnY">加入團體</button>
                    </span>

                </div>

                <!-- 反白區 -->
                <div class="dblock row">

                    <div class="col-12 text-center d-flex justify-content-between align-items-center" style="margin-bottom: 32px;">

                        <img class="lrImg  btnPhoto" src="../public/image/left.png" onclick="prevM()">
                        <div class="d-flex align-items-center">
                            <p id="myDates" class="eng40R mr-xs"></p>
                            <p id="myMonths" class="eng30R mr-xs"></p>
                            <p id="" class="br-m"></p>
                            <p id="myYears" class="eng24R ml-xs"></p>
                        </div>
                        <img class="lrImg btnPhoto" src="../public/image/right.png" onclick="nextM()">

                    </div>
                    <table class="col-12" id="myTable">
                        <thead>
                            <tr>
                                <th class="thR eng24W">Sun</th>
                                <th class="thY eng24W">Mon</th>
                                <th class="thY eng24W">Tue</th>
                                <th class="thY eng24W">Wed</th>
                                <th class="thY eng24W">Thu</th>
                                <th class="thY eng24W">Fri</th>
                                <th class="thY eng24W">Sat</th>
                            </tr>
                        </thead>
                        <tbody id="myCalendar"></tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

    <!-- <div id="nowDate"></div> -->

    <script src="../public/javascript/calendar.js"></script>

</body>

</html>