<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">

    <title>Document</title>
    <style>
        .dblock {
            height: calc(100vh - 186px);
        }
    </style>

</head>

<body>
    <div>
        <!-- 左邊sider -->
        <div class="slider fixed-top">
            <img src="/image/LOGO.png" class="sliderLogo">
            <br>
            <img src="/image/photo.jpg" class="sliderPhoto">
            <p class="name text24B">阿信</p>
            <div class="menu text24R">
                <a href="" class="act"><i class="icon-home"></i>首頁</a>
                <a href=""><i class="icon-claendar"></i>訂訂行事曆</a>
                <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                        style="font-size: 14px;"></i></a>
                <span class="menuI d-none">
                    <a href="" class="mb-0">個人資料</a>
                    <a href="">我的訂訂幣</a>
                </span>
                <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
                <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
            </div>
        </div>

        <!-- 右邊內容放置區 -->
        <div class="containerRight">
            <div class="inWrapper">
                <!-- 上方頁籤 -->
                <div class="topBtnGroup topBtnPadding">
                    <a href=""></a>
                    <a href="" class="text20R dbtn btnGY">訂訂行事曆</a>
                    <a href="" class="text20R dbtn btnGY">我的團體</a>
                    <a href="./mOrderList.html" class="text20R dbtn btnGY btnY">我的訂單</a>
                    <a href="" class="text20R dbtn btnGB">我的投票</a>
                </div>
                <!-- 內容區塊 -->
                <div id="app" class="dblock givePadding mt-m">
                    <!-- 內容按鈕 -->
                    <div class="clearfix mb-s">
                        <button @click="goBack" class="text20RG dbtn btnG"><i class="icon-left-open mr-2"></i>返回</button>
                        <button @click="newOrder" class="text20R dbtn btnY float-right" data-toggle="modal"
                            data-target="#comfirmBtn">建立訂單</button>
                    </div>
                    <!-- 捲軸範圍 -->
                    <div class="scrollList orderVoteListM">
                        <!-- 上方內容 -->
                        <div class="ml-4">
                            <div class="row mb-m mTD">
                                <div class="dSelect" style="width: 500px;">
                                    <input v-model:trim="searchCondition" type="text" class="text20RG singleText398"
                                        placeholder="請輸入店家名稱">
                                </div>
                                <button class="text20R dbtn btnY ml-3">搜尋店家</button>
                                <button v-on:click="randomChoose" class="text20R dbtn btnY ml-3" type="button"
                                    id="randomBtn">店家拉霸機</button>
                            </div>
                            <div class="mTD">
                                <a href="#" class="text20R text-decoration-none pr-3 textB">收藏</a><span
                                    class="textG">|</span>
                                <a href="#" class="text20R text-decoration-none pr-3 pl-3"
                                    @click="recommand">推薦</a><span class="textG">|</span>
                                <a href="#" class="text20R text-decoration-none pr-3 pl-3">重新下訂</a><span
                                    class="textG">|</span>
                                <a href="#" class="text20R text-decoration-none pr-3 pl-3">最近的投票</a>
                            </div>
                        </div>
                        <!-- 水平線 -->
                        <div class="orderSection mt-n2">
                            <hr class="" style="border: 1px solid var(--dLightGray);">
                        </div>
                        <!-- 商品卡 -->
                        <div class="row imgCardGroup">
                            <div v-for="(store,index) in storeList" class="col-4 imgCard">
                                <input v-model="selected.storeID" class="form-check-input" type="radio"
                                    name="blankRadio" id="selected.storeID" :value="store.storeID" aria-label="...">
                                <div class="dingImgDiv" style="width:  100%">
                                    <img :src="'/image/store/' +store.storeBanner" class="card-img-top dingImg"
                                        alt="...">
                                    <div class="card-body">
                                        <div class="d-inline-block w-75">
                                            <p class="card-text text24B shopName">{{ store.storeName }}</p>
                                        </div>
                                        <i class="icon-spoon float-right"></i>
                                        <span class="card-text eng24R float-right"
                                            style="margin-right: 7px;">{{store.storeScore}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 確認彈框 -->
    <div class="modal fade sm1Btn" id="comfirmBtn">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text28B w-100 text-center ">建立訂單成功</h5>
                </div>

                <div class="modal-footer">
                    <button class="text20R dbtn btnY m-auto" onclick="toOrderList()">確定</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        function toOrderList() {
            location.href = "/mOrderList";
        }


        let app = new Vue({
            el: "#app",
            data: {
                storeList: JSON.parse('<%- storeList %>'),
                searchCondition: "",
                selected: {
                    storeID:"",
                },
            },
            computed: {
            },
            methods: {
                randomChoose: function () {
                    this.countCard = document.getElementsByClassName('imgCard').length;
                    this.selected.storeID = "";
                    this.randaomCard = Math.floor(Math.random() * this.countCard);
                    console.log(this.countCard);
                    this.selected.storeID = document.querySelectorAll(".form-check-input")[this.randaomCard];
                    this.selected.storeID.checked = true;
                    this.selected.storeID = this.selected.storeID.value;
                    // $(`.imgCardGroup .form-check-input`).eq(randaomCard).prop("checked", true);
                },
                newOrder: function () {
                    fetch('/mNewOrder_2/newOrder', {
                        method: 'post',
                        body: JSON.stringify(this.selected),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then((myJson) => {
                        // console.log(myJson);
                        console.log(myJson);
                        // location.href = "/mNewOrder_2";
                    });
                },
                recommand: function () {
                    fetch('/mNewOrder/json')
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            console.log(myJson);
                            this.dataJson = myJson;
                        });
                },
                goBack: function () {
                        location.href = "/mOrderList";
                    }
            }
        })


    </script>
</body>

</html>