<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">
    <link rel="Shortcut Icon" type="image/x-icon" href="/image/favicon.png">

    <title>安排訂單</title>
    <style>
        .dblock {
            height: calc(100vh - 186px);
        }
    </style>

</head>

<body>
    <div>
        <!-- 左邊sider -->
        <%- include('mSider', {active}); %>

        <!-- 右邊內容放置區 -->
        <div id="app" class="containerRight">
            <div class="inWrapper">
                <!-- 上方頁籤 -->
                <div class="topBtnGroup topBtnPadding">
                    <button @click="goTo(1)" class="text20R dbtn btnGY">訂訂行事曆</button>
                    <button @click="goTo(2)" class="text20R dbtn btnGY">我的團體</button>
                    <button @click="goTo(3)" class="text20R dbtn btnGY btnY">我的訂單</button>
                    <button @click="goTo(4)" class="text20R dbtn btnGB">我的投票</button>
                </div>
                <!-- 內容區塊 -->
                <div class="dblock givePadding mt-m">
                    <!-- 內容按鈕 -->
                    <div class="clearfix mb-s">
                        <button @click="goTo(5)" class="text20RG dbtn btnG"><i
                                class="icon-left-open mr-2"></i>返回</button>
                        <button @click="newOrder" class="text20R dbtn btnY float-right" data-toggle="modal"
                            data-target="#comfirmBtn">建立訂單</button>
                    </div>
                    <!-- 捲軸範圍 -->
                    <div class="scrollList orderVoteListM">
                        <!-- 上方內容 -->
                        <div class="ml-4">
                            <div class="row mb-m mTD">
                                <div class="dSelect" style="width: 500px;">
                                    <input v-model:trim="searching" type="text" class="text20RG singleText398"
                                        placeholder="請輸入店家名稱">
                                </div>
                                <button @click="searchingStore" class="text20R dbtn btnY ml-3">搜尋店家</button>
                                <button v-on:click="randomChoose" class="text20R dbtn btnY ml-3" type="button"
                                    id="randomBtn">店家拉霸機</button>
                            </div>
                            <div class="mTD">
                                <span class="text20R text-decoration-none pr-3" :class="{textB:tab==1}"
                                    @click="changeTab(1)" style="cursor:pointer">收藏</span><span class="textG">|</span>
                                <span class="text20R text-decoration-none pr-3 pl-3" :class="{textB:tab==2}"
                                    @click="changeTab(2)" style="cursor:pointer">推薦</span><span class="textG">|</span>
                                <span class="text20R text-decoration-none pr-3 pl-3" :class="{textB:tab==3}"
                                    @click="changeTab(3)" style="cursor:pointer">重新下訂</span><span class="textG">|</span>
                                <span class="text20R text-decoration-none pr-3 pl-3" :class="{textB:tab==4}"
                                    @click="changeTab(4)" style="cursor:pointer">最近的投票</span>
                            </div>
                        </div>
                        <!-- 水平線 -->
                        <div class="orderSection mt-n2">
                            <hr class="" style="border: 1px solid var(--dLightGray);">
                        </div>
                        <!-- 商品卡 -->
                        <div class="row imgCardGroup">
                            <div v-for="(store,index) in storeList" class="col-4 imgCard">
                                <input v-model="selected.storeID" class="form-check-input" type="radio"
                                    name="blankRadio" id="selected.storeID" :value="store.storeID" aria-label="...">
                                <div class="dingImgDiv" style="width:  100%">
                                    <img :src="'/image/store/' +store.storeBanner" class="card-img-top dingImg"
                                        alt="...">
                                    <div class="card-body">
                                        <div class="d-inline-block w-75">
                                            <p class="card-text text24B shopName">{{ store.storeName }}</p>
                                        </div>
                                        <i class="icon-spoon float-right"></i>
                                        <span class="card-text eng24R float-right"
                                            style="margin-right: 7px;">{{store.star}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 確認彈框 -->
    <div class="modal fade sm1Btn" id="comfirmBtn">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text28B w-100 text-center ">建立訂單成功</h5>
                </div>

                <div class="modal-footer">
                    <button class="text20R dbtn btnY m-auto" onclick="toOrderList()">確定</button>
                </div>
            </div>
        </div>
    </div>


    <script>

        function toOrderList() {
            location.href = "/mOrderList";
        }


        let app = new Vue({
            el: "#app",
            data: {
                memberData: JSON.parse('<%- mMemberData %>'),
                storeList: JSON.parse('<%- storeList %>'),
                searchCondition: "",
                selected: {
                    storeID: "",
                },
                searching:"",
                tab: 1,
            },
            computed: {
            },
            methods: {
                randomChoose: function () {
                    fetch('/mNewOrder_2/tab?tab=0')
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            this.storeList = JSON.parse(myJson);
                            // this.countCard = document.getElementsByClassName('imgCard').length;
                            // this.selected.storeID = "";
                            // this.randaomCard = Math.floor(Math.random() * this.countCard);
                            // console.log(this.countCard);
                            // this.selected.storeID = document.querySelectorAll(".form-check-input")[this.randaomCard];
                            // this.selected.storeID.checked = true;
                            // this.selected.storeID = this.selected.storeID.value;
                            this.selected.storeID = this.storeList[0].storeID;
                        });
                    this.tab = -1

                    // $(`.imgCardGroup .form-check-input`).eq(randaomCard).prop("checked", true);
                },
                newOrder: function () {
                    fetch('/mNewOrder_2/newOrder', {
                        method: 'post',
                        body: JSON.stringify(this.selected),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then((myJson) => {
                        // console.log(myJson);
                        console.log(myJson);
                        // location.href = "/mNewOrder_2";
                    });
                },
                changeTab: function (tab) {
                    fetch('/mNewOrder_2/tab?tab=' + tab)
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            // console.log(myJson);
                            this.storeList = JSON.parse(myJson);
                        });
                    this.tab = tab
                },
                searchingStore: function () {
                    fetch('/mNewOrder_2/tab?search='+this.searching)
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            // console.log(myJson);
                            this.storeList = JSON.parse(myJson);
                        });
                        this.tab=0
                },
                goTo: function (tab) {
                    switch (tab) {
                        case 1:
                            location.href = "/mCalendar";
                            break;
                        case 2:
                            location.href = "/mGroup";
                            break;
                        case 3:
                            location.href = "/mOrderList";
                            break;
                        case 4:
                            location.href = "/mVoteList";
                            break;
                        case 5:
                            location.href = "/mNewOrder";
                            break;
                    }
                }
            }
        })


    </script>
</body>

</html>