<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">

    <title>Document</title>
    <style>
        .dblock {
            height: calc(100vh - 186px);
        }
    </style>

</head>

<body>
    <div>
        <!-- 左邊sider -->
        <div class="slider fixed-top">
            <img src="/image/LOGO.png" class="sliderLogo">
            <br>
            <img src="/image/photo.jpg" class="sliderPhoto">
            <p class="name text24B">阿信</p>
            <div class="menu text24R">
                <a href="" class="act"><i class="icon-home"></i>首頁</a>
                <a href=""><i class="icon-claendar"></i>訂訂行事曆</a>
                <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                        style="font-size: 14px;"></i></a>
                <span class="menuI d-none">
                    <a href="" class="mb-0">個人資料</a>
                    <a href="">我的訂訂幣</a>
                </span>
                <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
                <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
            </div>
        </div>

        <!-- 右邊內容放置區 -->
        <div class="containerRight">
            <div class="inWrapper">
                <!-- 上方頁籤 -->
                <div class="topBtnGroup topBtnPadding">
                    <a href=""></a>
                    <a href="" class="text20R dbtn btnGY">訂訂行事曆</a>
                    <a href="" class="text20R dbtn btnGY">我的團體</a>
                    <a href="./mOrderList.html" class="text20R dbtn btnGY btnY">我的訂單</a>
                    <a href="" class="text20R dbtn btnGB">我的投票</a>
                </div>
                <!-- 內容區塊 -->
                <div id="app" class="dblock givePadding mt-m">
                    <!-- 內容按鈕 -->
                    <div class="clearfix">
                        <button @click="goBack" class="text20RG dbtn btnG"><i
                                class="icon-left-open mr-2"></i>返回</button>
                        <button @click="saveNewOrderData" class="text20R dbtn btnY float-right">下一步</button>
                    </div>
                    <!-- 捲軸範圍 -->
                    <div class="scrollList orderVoteListM">
                        <!-- 上方內容 -->
                        <div class="mt-l ml-4">
                            <div class="row mb-s">
                                <div class="col-2 mTD">
                                    <span class="text20B">選擇團體</span>
                                </div>
                                <div class="dSelect pr-4" style="width: 500px;">
                                    <select v-model="newOrderData.groupID" name="" id=""
                                        class="text20RG singleText398 w-100" placeholder="選擇團體">
                                        <option v-for="(group,index) in groupList" class="text20RG singleText398"
                                            :value="group.groupID">{{group.groupName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-s">
                                <div class="col-2 mTD">
                                    <span class="text20B">選擇地址</span>
                                </div>
                                <div class="dSelect pr-4" style="width: 500px;">
                                    <select v-model="newOrderData.deliveryAddress" name="" id=""
                                        class="text20RG singleText398 w-100" placeholder="選擇地址">
                                        <option v-for="(address,index) in addressList" class="text20RG singleText398"
                                            :value="address.memberAddress">{{address.memberAddress}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-s">
                                <div class="col-2 mTD">
                                    <span class="text20B">餐點送達時間</span>
                                </div>
                                <div class="dSelect" style="width: 500px;">
                                    <input v-model="newOrderData.orderArrivedTime" type="datetime-local"
                                        datetime="YYYY-MM-DD hh:mm:ss" class="text20RG singleText398 w-100"
                                        placeholder="選擇日期時間" @click=''>
                                </div>
                            </div>
                            <div class="row mb-s">
                                <div class="col-2 mTD">
                                    <span class="text20B">點餐截止時間</span>
                                </div>
                                <div class="dSelect" style="width: 500px;">
                                    <input v-model="newOrderData.orderDeadline" type="datetime-local"
                                        class="text20RG singleText398 w-100" placeholder="選擇日期時間">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script>

            let app = new Vue({
                el: "#app",
                data: {
                    addressList: JSON.parse('<%- addressList %>'),
                    groupList: JSON.parse('<%- groupList %>'),
                    newOrderData: {
                        groupID: "",
                        deliveryAddress: "",
                        orderArrivedTime: "",
                        orderDeadline: "",
                    },
                },
                computed: {
                },
                methods: {
                    randomChoose: function () {
                        this.countCard = document.getElementsByClassName('imgCard').length;
                        this.selectedStore = "";
                        this.randaomCard = Math.floor(Math.random() * this.countCard);
                        console.log(this.countCard);
                        this.selectedStore = document.querySelectorAll(".form-check-input")[this.randaomCard];
                        this.selectedStore.checked = true;
                        this.selectedStore = this.selectedStore.value;
                        // $(`.imgCardGroup .form-check-input`).eq(randaomCard).prop("checked", true);
                    },
                    saveNewOrderData: function () {
                        fetch('mNewOrder/saveNewOrderData', {
                            method: 'POST',
                            body: JSON.stringify(this.newOrderData),
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            })
                        }).then((myJson) => {
                            // console.log(myJson);
                            location.href = "/mNewOrder_2";
                        });
                        // console.log('conn')
                    },
                    recommand: function () {
                        fetch('/mNewOrder/json')
                            .then(function (response) {
                                return response.json();
                            })
                            .then((myJson) => {
                                console.log(myJson);
                                this.dataJson = myJson;
                            });
                    },
                    goBack: function () {
                        location.href = "/mOrderList";
                    }

                }
            })
        </script>

</body>

</html>