<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">

    <link rel="stylesheet" href="/stylesheets/memaddgroup.css">

    <script src="/javascript/vue.js"></script>


</head>

<body>

    <!-- 左邊sider -->
    <%- include('mSider', {active}); %>

    <div id="app" class="Wrapper">
        <div class="wrapper1920">
            <!-- 左邊sider -->
            <!-- <div class="slider fixed-top">
                <img src="/image/LOGO.png" class="sliderLogo">
                <br>
                <img src="/image/photo.jpg" class="sliderPhoto">
                <p class="name text24B">阿信</p>
                <div class="menu text24R">
                    <a href=""><i class="icon-home"></i>首頁</a>
                    <a href="" class="act"><i class="icon-claendar"></i>訂訂行事曆</a>
                    <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                            style="font-size: 14px;"></i></a>
                    <span class="menuI d-none">
                        <a href="" class="mb-0">個人資料</a>
                        <a href="">我的訂訂幣</a>
                    </span>
                    <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
                    <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
                </div>
            </div> -->

            <div class="containerRight">
                <!-- 右邊內容放置區 -->

                <!-- 功能列 -->
                <div class="mt-l mb-m" style="margin-left: 40px; width: 1260px;">

                    <span>
                        <button @click="goTo(1)" class="mr-xs text20R dbtn btnGY">訂訂行事曆</button>
                        <button @click="goTo(2)" class="mr-xs text20R dbtn btnGY btnY">我的團體</button>
                        <button @click="goTo(3)" class="mr-xs text20R dbtn btnGY">我的訂單</button>
                        <button @click="goTo(4)" class="text20R dbtn btnGB">我的投票</button>
                    </span>

                </div>

                <!-- 反白區 -->
                <div class="dblock">
                    <div class="d-flex justify-content-between">
                        <button class="dbtn btnLG text20RG icon-left-open">返回</button><br>
                        <a href="mGroup"><button class="dbtn btnY text20R">儲存</button></a>
                    </div>
                    <div class="ml-m" style="margin-top: 43px;" v-for="item in groupData">
                        <div class="d-flex mb-m">
                            <span class="mr-m">
                                <p class="text20R">邀請團號</p>
                            </span>
                            <span>
                                <p class="eng20R">{{item.groupID}}</p>
                            </span>
                        </div>
                        <div class="d-flex mb-m align-items-center">
                            <span class="mr-m">
                                <p class="text20R">團體名稱</p>
                            </span>
                            <span><input class="singleText398 text20R" type="text" placeholder="請輸入團體名稱"
                                    v-bind:value="item.groupName"></span>
                        </div>
                        <div class="d-flex mb-l align-items-center">
                            <span class="mr-m">
                                <p class="text20R">邀請團員</p>
                            </span>
                            <span><input id="addMemberEmail" class="singleText398 mr-xs text20R" type="text"
                                    placeholder="請輸入團員電子信箱"></span>
                            <span><button @click="inviteMember" class="dbtn btnY text20R">邀請</button></span>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div v-for="(item, index) in groupList" v-if="index < 1">
                                <button class="dbtnMem btnB d-flex align-items-center mr-xs text20R">
                                    <img v-bind:src="(`image/會員資料/大頭照/${item.memberPhoto}`)" alt=""
                                        class="btnPhoto mr-xs">
                                    <p class="mr-xxs">{{item.memberName}}</p>
                                    <p>(團長)</p>
                                </button>
                            </div>
                            <div v-for="(item, index) in groupList" v-if="index != 0" class="mb-3">
                                <button type="button" class="dbtnMem btnLG d-flex align-items-center text20R" id="more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img v-bind:src="(`image/會員資料/大頭照/${item.memberPhoto}`)" alt=""
                                        class="btnPhoto mr-xs">
                                    <p>{{item.memberName}}</p>
                                </button>
                                <div class="dropdown-menu text-center tag-wrap" aria-labelledby="more" id='moreMenu'>
                                    <a class="dropdown-item text20R" href="#">移交團長</a>
                                    <a class="dropdown-item text20R" href="#">退出成員</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                groupData: JSON.parse('<%- groupData %>'),
                groupList: JSON.parse('<%- groupList %>'),
                memberData: JSON.parse('<%- mMemberData %>')
            },
            methods: {
                inviteMember: function() {
                    fetch('http://localhost:3000/mNewGroup/inviteMember', {
                            method: "post",
                            body: JSON.stringify(input),
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            })
                        })
                        .then(
                            location.href = "mNewGroup"
                        )

                },
                goTo: function (tab) {
                    switch (tab) {
                        case 1:
                            location.href = "/mCalendar";
                            break;
                        case 2:
                            location.href = "/mGroup";
                            break;
                        case 3:
                            location.href = "/mOrderList";
                            break;
                        case 4:
                            location.href = "/mVoteList";
                            break;
                        case 5:
                            location.href = "/mNewOrder";
                            break;
                    }
                }
            }
        })

        let input = {
            memberEmail: ""
        }

        document.querySelector("#addMemberEmail")
            .addEventListener("input", function(e) {
                input.memberEmail = e.target.value;
            })
    </script>

</body>

</html>