<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/notice.css">
    <script src="/javascript/vue.js"></script>

    <title>Document</title>


    <style>
        /* 環境 */
    </style>

</head>

<body>

    <!-- 左邊sider -->
    <%- include('mSider', {active}); %>

        <div class="containerRight">
            <!-- 右邊內容放置區 -->

            <nav class="topTag row inWrapper position-sticky">
                <div class="dTag text24RG act">平台通知(1)</div>
                <div class="dTag text24RG">訂單狀況(1)</div>
                <div class="dTag text24RG">投票、訂單通知(1)</div>
                <a class="more ml-auto" href="#" role="button" id="more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu text-center tag-wrap" aria-labelledby="more" id='moreMenu'>
                    <a class="dropdown-item text20R" href="#">全部已讀</a>
                    <a class="dropdown-item text20R" href="#">全部刪除</a>

                </div>
            </nav>
            <div class="dblock mt-4">
                <ul class="scrollList noticeList">


                    <!-- 新訊息 -->
                    <li class="noticeItem d-flex align-items-center">
                        <!-- <span class="photo"></span> -->
                        <img src="/image/message.png">
                        <span class="content">
                        <h2 class="text24B">訂訂系統緊急升級通知</h2>
                        <p class="text20R">訂訂將於2020年06月26號(星期五)14:00至15:00進行系統升級。</p>
                        <p class="text16">剛剛</p>
                    </span>
                        <span class="ml-auto actionR d-flex align-items-center">
                        <span class="eng20R price d-none">
                            <span class=" align-middle">4,000</span>
                        </span>
                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB d-none">移動至訂單</button>
                        <button class="text20R dbtn btnY  d-none" data-toggle="modal" data-target="#comfirm2Btn "> 完成訂單</button>
                        <i class="icon-trash"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>
                    </li>

                    <!-- 店家新訊息 -->
                    <li class="noticeItem d-flex align-items-center">
                        <!-- <span class="photo"></span> -->
                        <img src="/image/store/Taichung/八方雲集_台中向上店/index.jpeg">
                        <span class="content">
                        <h2 class="text24B">貓咪腹肌　已接受訂單</h2>
                        <p class="text20R">貓咪腹肌已接受訂單，當餐點送達後，請點擊完成訂單按鈕</p>
                        <p class="text16">剛剛</p>
                    </span>
                        <span class="ml-auto actionR d-flex align-items-center">
                        <span class="eng20R price">
                            <span class=" align-middle">4,000</span>
                        </span>
                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB d-none">移動至訂單</button>
                        <button class="text20R dbtn btnY" data-toggle="modal" data-target="#comfirm2Btn"> 完成訂單</button>
                        <i class="icon-trash d-none"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>
                    </li>





                    <!-- 已讀 -->
                    <li class="noticeItem d-flex align-items-center read">
                        <!-- <span class="photo"></span> -->
                        <img src="/image/message.png">
                        <span class="content">
                        <h2 class="text24B">八方雲集　已完成訂單</h2>
                        <p class="text20R">您已經完成訂單了，期待您的下次訂購。</p>
                        <p class="text16">3小時前</p>
                    </span>
                        <span class="ml-auto actionR d-flex align-items-center">
                        <span class="eng20R price ">
                            <span class=" align-middle">4,000</span>
                        </span>

                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB d-none">移動至訂單</button>
                        <button class="text20R dbtn btnY d-none" data-toggle="modal" data-target="#comfirm2Btn">
                            完成訂單</button>
                        <i class="icon-trash"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>
                    </li>

                    <!-- 已讀取消訂單 -->
                    <li class="noticeItem d-flex align-items-center cancel read">
                        <span class="photo"></span>
                        <!-- <img src="/image/message.png"> -->
                        <span class="content">
                        <h2 class="text24B">尊品原汁牛肉麵 已取消訂單</h2>
                        <p class="text20R">店家因太忙或種種原因，而取消了訂單，我們將會退還全額給您。</p>
                        <p class="text16">3小時前</p>
                    </span>

                        <span class="ml-auto actionR d-flex align-items-center">
                        <span class="eng20R price d-none">
                            <span class=" align-middle">4,000</span>
                        </span>

                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB">移動至訂單</button>
                        <button class="text20R dbtn btnY d-none" data-toggle="modal" data-target="#comfirm2Btn">
                            完成訂單</button>
                        <i class="icon-trash"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>

                    </li>

                    <!-- 已讀取消訂單 -->
                    <li class="noticeItem d-flex align-items-center read">
                        <span class="photo"></span>
                        <!-- <img src="/image/message.png"> -->
                        <span class="content">
                        <h2 class="text24B">被程式耽誤的通靈王</h2>
                        <p class="text20R">此團體已新增排程囉~</p>
                        <p class="text16">6小時前</p>
                    </span>

                        <span class="ml-auto actionR d-flex align-items-center">
                        <span class="eng20R price d-none">
                            <span class=" align-middle">4,000</span>
                        </span>

                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB">移動至排程</button>
                        <button class="text20R dbtn btnY d-none" data-toggle="modal" data-target="#comfirm2Btn">
                            完成訂單</button>
                        <i class="icon-trash"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>

                    </li>

                    <!-- 已讀訊息 -->
                    <li class="noticeItem d-flex align-items-center read">
                        <!-- <span class="photo"></span> -->
                        <img src="/image/message.png">
                        <span class="content">
                                <h2 class="text24B">訂訂系統緊急升級通知</h2>
                                <p class="text20R">訂訂將於2020年05月29號(星期五)14:00至15:00進行系統升級。</p>
                                <p class="text16">1個月前</p>
                            </span>
                        <span class="ml-auto actionR d-flex align-items-center">
                                <span class="eng20R price d-none">
                                    <span class=" align-middle">4,000</span>
                        </span>
                        <button class="text20R dbtn btnW d-none">建立新訂單</button>
                        <button class="text20R dbtn btnB d-none">移動至訂單</button>
                        <button class="text20R dbtn btnY  d-none" data-toggle="modal" data-target="#comfirm2Btn "> 完成訂單</button>
                        <i class="icon-trash"></i>
                        <p class="text20R d-none">等待中..</p>
                        </span>
                    </li>


                </ul>

            </div>


        </div>


        <!-- 完成訂單) -->

        <div class="modal fade sm2Btn" id="comfirm2Btn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">完成訂單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class=" icon-close"></i>
                    </button>
                    </div>
                    <p class="modal-body text24R">
                        請確認餐點無誤，我們將撥款給店家
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消返回</button>
                        <button class="text20R dbtn btnY ml-3">完成訂單</button>
                    </div>
                </div>
            </div>
        </div>



</body>

</html>