<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/member.css">

    <title>Document</title>

</head>

<body>

    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">阿信</p>
        <div class="menu text24R">
            <a href=""><i class="icon-home"></i>首頁</a>
            <a href="" class="act"><i class="icon-claendar"></i>訂訂行事曆</a>
            <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                    style="font-size: 14px;"></i></a>
            <span class="menuI d-none">
                <a href="" class="mb-0">個人資料</a>
                <a href="">我的訂訂幣</a>
            </span>
            <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <!-- 右邊內容放置區 -->
    <div class="containerRight">
        <div class="inWrapper">
            <!-- 上方頁籤 -->
            <div class="topBtnGroup topBtnPadding">
                <button class="text20R dbtn btnGY">訂訂行事曆</button>
                <button class="text20R dbtn btnGY">我的團體</button>
                <button class="text20R dbtn btnGY btnY">我的訂單</button>
                <button class="text20R dbtn btnGB">我的投票</button>
            </div>
            <!-- 內容區塊 -->
            <div class="dblock givePadding mt-m">
                <div class="dTag act text24RG">預定訂單</div>
                <div class="dTag text24RG">歷史訂單</div>
                <div class="d-flex justify-content-end mr-1">
                    <button class="text20R dbtn btnB">安排訂單<span class="ml-2">+</span></button>
                </div>
                <div class="row mt-4 text20BW">
                    <div class="col-4 mTH">團名</div>
                    <div class="col-4 mTH">店家名稱</div>
                    <div class="col-4 mTH">餐點送達時間</div>
                </div>
                <div class="scrollList orderVoteList">
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">資策會便當團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">清潭洞</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">就愛烤肉團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">八色</div>
                        <div class="col-4 mTD">2020/06/18 13:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">隨便吃團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">屋馬</div>
                        <div class="col-4 mTD">2020/07/05 12:00<i class="icon-ok float-right textG"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">吃到飽團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">萬客</div>
                        <div class="col-4 mTD">2020/07/06 16:20<i class="icon-right-open float-right textY"></i></div>
                    </div><div class="row mTR text20B">
                        <div class="col-4 mTD">資策會便當團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">清潭洞</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">就愛烤肉團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">八色</div>
                        <div class="col-4 mTD">2020/06/18 13:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">隨便吃團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">屋馬</div>
                        <div class="col-4 mTD">2020/07/05 12:00<i class="icon-ok float-right textG"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">吃到飽團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">萬客</div>
                        <div class="col-4 mTD">2020/07/06 16:20<i class="icon-right-open float-right textY"></i></div>
                    </div><div class="row mTR text20B">
                        <div class="col-4 mTD">資策會便當團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">清潭洞</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">就愛烤肉團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">八色</div>
                        <div class="col-4 mTD">2020/06/18 13:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">隨便吃團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">屋馬</div>
                        <div class="col-4 mTD">2020/07/05 12:00<i class="icon-ok float-right textG"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">吃到飽團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">萬客</div>
                        <div class="col-4 mTD">2020/07/06 16:20<i class="icon-right-open float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">資策會便當團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">清潭洞</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">就愛烤肉團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">八色</div>
                        <div class="col-4 mTD">2020/06/18 13:00<i class="icon-ok float-right textY"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">隨便吃團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">屋馬</div>
                        <div class="col-4 mTD">2020/07/05 12:00<i class="icon-ok float-right textG"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">吃到飽團</div>
                        <div class="col-4 mTD">
                            <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                class="float-left orderListimg clipCircle mr-3">萬客</div>
                        <div class="col-4 mTD">2020/07/06 16:20<i class="icon-right-open float-right textY"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>