<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/member.css">

    <title>Document</title>

</head>

<body>

    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">阿信</p>
        <div class="menu text24R">
            <a href="" class="act"><i class="icon-home"></i>首頁</a>
            <a href=""><i class="icon-claendar"></i>訂訂行事曆</a>
            <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                    style="font-size: 14px;"></i></a>
            <span class="menuI d-none">
                <a href="" class="mb-0">個人資料</a>
                <a href="">我的訂訂幣</a>
            </span>
            <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <!-- 右邊內容放置區 -->
    <div class="containerRight">
        <div class="inWrapper">
            <!-- 上方頁籤 -->
            <div class="topBtnGroup topBtnPadding">
                <button class="text20R dbtn btnGY">訂訂行事曆</button>
                <button class="text20R dbtn btnGY">我的團體</button>
                <button class="text20R dbtn btnGY btnY">我的訂單</button>
                <button class="text20R dbtn btnGB">我的投票</button>
            </div>
            <!-- 內容區塊 -->
            <div class="dblock givePadding mt-m">
                <!-- 內容按鈕 -->
                <div class="clearfix">
                    <button class="text20RG dbtn btnG"><i class="icon-left-open mr-2"></i>返回</button>
                    <button class="text20R dbtn btnY float-right" data-toggle="modal"
                        data-target="#comfirmOrder">確認點餐</button>
                    <button class="text20R dbtn btnR float-right mr-3" data-toggle="modal"
                        data-target="#deleteOrder">刪除訂單</button>
                </div>
                <!-- 上方內容 -->
                <div class="mt-s ml-4">
                    <div class="row mb-s mTD">
                        <div class="col-2">
                            <span class="text20B">團名名稱</span>
                        </div>
                        <div class="col-10">
                            <span class="text20B ">資策會便當團</span>
                        </div>
                    </div>
                    <div class="row mb-s mTD">
                        <div class="col-2">
                            <span class="text20B">餐點送達時間</span>
                        </div>
                        <div class="col-10">
                            <span class="text20B">2020/06/18 12:00</span>
                        </div>
                    </div>
                    <div class="row mb-s mTD">
                        <div class="col-2">
                            <span class="text20B">點餐截止時間</span>
                        </div>
                        <div class="col-10">
                            <span class="text20B textR">2020/06/17 12:00</span>
                        </div>
                    </div>
                </div>

                <!-- 中間顯示區 -->
                <div class="orderSection">
                    <div class="orderSectionInner mt-s ml-4">
                        <div class="row orderSectionMTD">
                            <div class="col-8">
                                <img src="../public/image/store/Taichung/朴大哥的韓式炸雞_逢甲總店/index.jpeg" alt=""
                                    class="float-left orderSectionImg clipCircle mr-3">
                                <span class="text24B">肯德基KFC_台中公益</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="text20B">已選擇<span class="eng20R textY mr-3 ml-3">0</span>項餐點</span>
                            </div>
                            <div class="col-2 text-right">
                                <span class="text20B">總金額<span class="eng20R price ml-3">0</span></span>
                            </div>
                        </div>
                        <div class="mTD">
                            <a href="#" class="text20R text-decoration-none pr-3 textB">店家推薦</a><span
                                class="textG">|</span>
                            <a href="#" class="text20R text-decoration-none pr-3 pl-3">人氣餐點</a><span
                                class="textG">|</span>
                            <a href="#" class="text20R text-decoration-none pr-3 pl-3">套餐</a><span
                                class="textG">|</span>
                            <a href="#" class="text20R text-decoration-none pr-3 pl-3">套餐</a><span
                                class="textG">|</span>
                            <a href="#" class="text20R text-decoration-none pr-3 pl-3">飲品</a>
                        </div>
                    </div>
                </div>

                <!-- 下方點餐區 -->
                <div class="mt-4 ml-4 pt-1">
                    <div class="row mb-n1 orderSectionMTD">
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-n1 orderSectionMTD">
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-n1 orderSectionMTD">
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-n1 orderSectionMTD">
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 itemBorder orderProductItem ">
                            <div class="row align-items-center">
                                <div class="col-2">
                                    <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt=""
                                        class="itemImg">
                                </div>
                                <div class="col-4 text20B pl-2">
                                    咔啦雞腿堡
                                </div>
                                <div class="col-3">
                                    <p class="eng20R price ml-4">60</p>
                                </div>
                                <div class="col-3 countP ml-n4">
                                    <i class="icon-minus"></i>
                                    <p class="eng20R text-center">0</p>
                                    <i class="icon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 刪除訂單彈跳框 -->
        <div class="modal fade sm2Btn" id="deleteOrder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">是否要刪除訂單</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <p class="modal-body text24R">
                        刪除訂單後，其他團員的點餐也將一併被
                        <span class="redColor">取消餐點
                        </span>，並退還全額。
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">返回離開</button>
                        <button class="text20R dbtn btnR ml-3">刪除訂單</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 刪除完成彈跳框 -->
        <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#orderSuccess">
            訂單刪除
        </button>
        <div class="modal fade sm1Btn" id="orderSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">訂單已被刪除</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 檢查點餐彈跳框 -->
        <div class="modal fade m2Btn" id="comfirmOrder">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">請確認餐點</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="orderProductItemList text24R">
                        <div class="orderProductItem mb-4">
                            <img src="../public/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt="" class="itemImg">
                            <span class="pl-2">
                                咔啦雞腿堡
                            </span>
                            <span class="price">60</span>
                            <span class="productQuantity">0</span>
                        </div>
                        <p class="text-right" style="border-top:solid 2px var(--dBlack);">
                            <span class="text20B">總金額<span class="price ml-3 eng20R">60</span></span>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消返回</button>
                        <button class="text20R dbtn btnY ml-3">完成訂單</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 點餐完成彈跳框 -->
        <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#orderSuccess">
            點餐成功
        </button>
        <div class="modal fade sm1Btn" id="orderSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">點餐成功</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 取消點餐彈跳框 -->
        <button type="button" class="btnR dbtn" data-toggle="modal" data-target="#cancelOrder">
            取消點餐
        </button>
        <div class="modal fade sm2Btn" id="cancelOrder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">是否要取消點餐</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <p class="modal-body text24R">
                        取消點餐後，我們將會退還全額
                    </p>
                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">取消離開</button>
                        <button class="text20R dbtn btnY ml-3">取消點餐</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 訂單成立彈跳框 -->
        <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#createOrderSuccess">
            訂單成立
        </button>
        <div class="modal fade sm1Btn" id="createOrderSuccess">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">建立訂單成功</h5>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnY m-auto">確定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 輸入型彈跳框(按鈕加長型)(密碼)-->
        <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#makeComment">
            評價
        </button>
        <div class="modal fade inputL" id="makeComment">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B">麥當勞五權西店麥當勞</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="modal-continer">
                        <p class="text24B mb-m textY" style="font-size: 1.6rem;">
                            <i class="mr-1 icon-spoon"></i>
                            <i class="mr-1 icon-spoon"></i>
                            <i class="mr-1 icon-spoon"></i>
                            <i class="mr-1 icon-spoon"></i>
                            <i class="mr-1 icon-borderspoon"></i>
                        </p>
                        <p class="text24B mb-2">
                            評價
                        </p>
                        <textarea class="text20RG multiText398 mt-3 mb-m" placeholder="請輸入電子信箱"></textarea>
                        <button class="text20R dbtn btnY w-100">張貼評價</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


</body>

</html>