<!-- 左邊sider -->
<div class="slider fixed-top" id="mSider">
    <img src="/image/LOGO.png" class="sliderLogo">
    <br>
    <img :src="(`image/會員資料/大頭照/${ memberData[0].memberPhoto}`)" class="sliderPhoto">

    <p class="name text24B">{{memberData[0].memberName}}</p>
    <div class="menu text24R">
        <a <%if(active=="mIndex"){%> class="act"<%}%> href="mIndex"><i class="icon-home"></i>首頁</a>
        <a <%if(active=="mCalendar"){%> class="act"<%}%> href="mCalendar"><i class="icon-claendar"></i>訂訂行事曆</a>
        <a <%if(active=="mMember"||active=="mSaveCoins"){%> class="act"<%}%> href="mMember" style='margin-bottom:8px;'><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0 "
                    style="font-size: 14px;"></i></a>
        <span <%if(active=="mMember"||active=="mSaveCoins"){%> class="d-inline-block"<%}%> id='menuUI'>
                <a <%if(active=="mMember"){%> class="act"<%}%> href="mMember" style='margin-bottom:0;'>個人資料</a>
                <a <%if(active=="mSaveCoins"){%> class="act"<%}%> href="mSaveCoins" style='margin-bottom:0;'>我的訂訂幣</a>
            </span>
        <a <%if(active=="mNotice"){%> class="act"<%}%> href="mNotice" style="margin-top:24px;"><i class="icon-message"></i>通知<span class="note">{{memberData[0].noticeCount>9? 'N':memberData[0].noticeCount}}</span></a>
        <a href="/" id="signOut"><i class="icon-logout"></i>登出</a>
    </div>
</div>


<script>
    // vue資料
    let mSider = new Vue({
        el: '#mSider',
        data: {
            memberData: JSON.parse('<%- mMemberData %>')
        }
    })
</script>