<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">

    <title>Document</title>
    <style>
        .dTag::after {
            background-color: var(--dBlue);
        }
        
        .orderVoteList a:hover {
            color: var(--dBlue);
        }
        
        .dblock {
            max-height: calc( 100vh - 186px);
        }
    </style>


</head>

<body>

    <!-- 左邊sider -->
    <%- include('mSider', {active}); %>

    <!-- 右邊內容放置區 -->
    <div id="app" class="containerRight">
        <div class="inWrapper">
            <!-- 上方頁籤 -->
            <div class="topBtnGroup topBtnPadding">
                <button @click="goTo(1)" class="text20R dbtn btnGY">訂訂行事曆</button>
                <button @click="goTo(2)" class="text20R dbtn btnGY">我的團體</button>
                <button @click="goTo(3)" class="text20R dbtn btnGY">我的訂單</button>
                <button @click="goTo(4)" class="text20R dbtn btnGB btnB">我的投票</button>
            </div>
            <!-- 內容區塊 -->
            <div class="dblock givePadding mt-m">
                <div :class="{act : tab == 1}" class="dTag text24RG" @click="getFuture">正在投票</div>
                <div :class="{act : tab == 2}" class="dTag text24RG" @click="getHistory">歷史投票</div>
                <div class="d-flex justify-content-end">
                    <a href="mNewVote"><button class="text20R dbtn btnY">發起投票<span class="ml-2">+</span></button></a>
                </div>
                <div class="row mt-4 text20BW">
                    <div class="col-4 mTH vTH">標題</div>
                    <div class="col-4 mTH vTH">團名</div>
                    <div class="col-4 mTH vTH">投票截止時間 </div>
                </div>
                <!-- 捲軸範圍 -->
                <div class="scrollList orderVoteList" v-if="tab==1">
                    <div v-for="(vote,index) in voteList" @click="toVoteDetail(vote.voteID)" class="row mTR text20B" style="cursor:pointer">
                        <div class="col-4 mTD">{{vote.voteName}}</div>
                        <div class="col-4 mTD">{{vote.groupName}}</div>
                        <div class="col-4 mTD">{{vote.voteDeadline}}<i class="icon-ok float-right" :class="checkVote(vote.voteID)"></i></div>
                    </div>
                </div>
                <div class="scrollList orderVoteList" v-if="tab==2">
                    <div v-for="(vote,index) in voteList"  @click="toVoteDetail(vote.voteID)" class="row mTR text20B" style="cursor:pointer" :class="checkVote2(vote.voteID)">
                        <div class="col-4 mTD">{{vote.voteName}}</div>
                        <div class="col-4 mTD">{{vote.groupName}}</div>
                        <div class="col-4 mTD">{{vote.voteDeadline}}<i class="icon-right-open float-right textB"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="/javascript/data.js"></script> -->

    <script>
        let app = new Vue({
            el:"#app",
            data:{
                memberData: JSON.parse('<%- mMemberData %>'),
                voteList:JSON.parse('<%- voteList %>'),
                voteCheck:JSON.parse('<%- voteCheck %>'),
                tab:1,
            },
            methods:{
                getFuture:function(){
                    fetch('/mVoteList/future')
                    .then(function(response) {
                        return response.json();
                    })
                    .then((myJson) => {
                        // console.log(myJson);
                        this.voteList= JSON.parse(myJson);
                    });
                    this.tab=1;
                },
                getHistory:function(){
                    fetch('/mVoteList/history')
                    .then(function(response) {
                        return response.json();
                    })
                    .then((myJson) => {
                        // console.log(myJson);
                        this.voteList= JSON.parse(myJson);
                    });
                    this.tab=2;
                },
                checkVote:function(viewVoteID) {
                    for (let i = 0; i < this.voteCheck.length; i++) {
                        if(this.voteCheck[i].voteID == viewVoteID)
                        {return "textB"}
                    }
                    return "textG" ;
                },
                checkVote2:function(viewVoteID) {
                    for (let i = 0; i < this.voteCheck.length; i++) {
                        if(this.voteCheck[i].voteID == viewVoteID)
                        return
                    }
                    return "d-none" ;
                },
                toVoteDetail:function(viewVoteID){
                    location.href="/mVote?voteID="+viewVoteID;
                },
                goTo: function (tab) {
                    switch (tab) {
                        case 1:
                            location.href = "/mCalendar";
                            break;
                        case 2:
                            location.href = "/mGroup";
                            break;
                        case 3:
                            location.href = "/mOrderList";
                            break;
                        case 4:
                            location.href = "/mVoteList";
                            break;
                    }
                }
            }
        })
    </script>

</body>

</html>