<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/member.css">

    <title>Document</title>
    <style>
        .dTag::after {
            background-color: var(--dBlue);
        }

        .dblock{
            height: calc( 100vh - 186px ) ;
        }
    </style>


</head>

<body>

    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">阿信</p>
        <div class="menu text24R">
            <a href="" class="act"><i class="icon-home"></i>首頁</a>
            <a href=""><i class="icon-claendar"></i>訂訂行事曆</a>
            <a href="mMember" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                    style="font-size: 14px;"></i></a>
            <span class="menuI d-none">
                <a href="" class="mb-0">個人資料</a>
                <a href="">我的訂訂幣</a>
            </span>
            <a href="" class="mt-4"><i class="icon-message"></i>通知<span class="note">3</span></a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <!-- 右邊內容放置區 -->
    <div class="containerRight">
        <div class="inWrapper">
            <!-- 上方頁籤 -->
            <div class="topBtnGroup topBtnPadding">
                <button class="text20R dbtn btnGY">訂訂行事曆</button>
                <button class="text20R dbtn btnGY">我的團體</button>
                <button class="text20R dbtn btnGY">我的訂單</button>
                <button class="text20R dbtn btnGB btnB">我的投票</button>
            </div>
            <!-- 內容區塊 -->
            <div class="dblock givePadding mt-m">
                <div class="dTag act text24RG">正在投票</div>
                <div class="dTag text24RG">歷史投票</div>
                <div class="d-flex justify-content-end">
                    <a href="mNewVote"><button class="text20R dbtn btnY">發起投票<span class="ml-2">+</span></button></a>
                </div>
                <div class="row mt-4 text20BW">
                    <div class="col-4 mTH vTH">標題</div>
                    <div class="col-4 mTH vTH">團名</div>
                    <div class="col-4 mTH vTH">投票截止時間 </div>
                </div>
                <!-- 捲軸範圍 -->
                <div class="scrollList orderVoteList">
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">聚餐吃什麼?</div>
                        <div class="col-4 mTD">火鍋團</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textB"></i></div>
                    </div>
                    <!-- <div class="row mTR text20B">
                        <div class="col-4 mTD">阿信慶生聚會</div>
                        <div class="col-4 mTD">被程式耽誤的通靈王</div>
                        <div class="col-4 mTD">2020/06/21 13:00<i class="icon-ok float-right textB"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">貴婦們的下午茶</div>
                        <div class="col-4 mTD">就愛烤肉團</div>
                        <div class="col-4 mTD">2020/06/21 16:00<i class="icon-ok float-right textG"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">大專提報午餐</div>
                        <div class="col-4 mTD">隨便吃團</div>
                        <div class="col-4 mTD">2020/06/19 14:00<i class="icon-right-open float-right textB"></i></div>
                    </div>
                    <div class="row mTR text20B">
                        <div class="col-4 mTD">聚餐吃什麼?</div>
                        <div class="col-4 mTD">火鍋團</div>
                        <div class="col-4 mTD">2020/06/22 12:00<i class="icon-ok float-right textB"></i></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>



</body>

</html>