<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/notice.css">
    <link rel="stylesheet" href="../public/stylesheets/order.css">

    <title>Document</title>


</head>

<body>
    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">尊品原汁牛肉麵</p>
        <div class="menu text24R ">

            <a href="" class="act"><i class="icon-order"></i>訂單管理</a>
            <a href=""><i class="icon-menu"></i>餐點清單</a>
            <a href=""><i class="icon-statistics"></i>營運統計</a>
            <a href=""><i class="icon-evaluation"></i>店家評價</a>
            <a href=""><i class="icon-message"></i>通知<span class="note">3</span></a>
            <a href=""><i class="icon-about"></i>店家資訊</a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <div class="containerRight">
        <!-- 右邊內容放置區 -->

        <nav class="topTag row inWrapper position-sticky">
            <div class="dTag text24RG act">今日訂單</div>
            <div class="dTag text24RG">完備訂單</div>
            <div class="dTag text24RG">預定訂單</div>
            <div class="dTag text24RG">歷史訂單</div>
            <div class="ml-auto inputSearch">
                <i class="icon-search"></i>
                <input type="text" class="form-control-sm text20RG " placeholder="請輸入關鍵字">
            </div>

        </nav>
        <div class="dblock mt-4">

            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="text20R">
                            <tr>
                                <th style="width:12%;">
                                    訂單編號
                                </th>
                                <th style="width:21%;">
                                    送餐時間
                                </th>
                                <th style="width:12%;">
                                    聯絡人
                                </th>
                                <th style="width:13%;">
                                    聯絡電話
                                </th>
                                <th style="width:14%;">
                                    金額
                                </th>
                                <th>
                                    訂單狀況
                                </th>
                            </tr>
                            <tr height="8px"></tr>
                        </thead>

                        <tbody class="text20R list">
                            <tr>
                                <td>
                                    252541
                                </td>
                                <td>
                                    2020/06/18 12:00
                                </td>
                                <td>
                                    阿信
                                </td>
                                <td>
                                    0970333215
                                </td>
                                <td class="eng20R price">
                                    88,000

                                </td>
                                <td class="action d-flex align-items-center">
                                    <!-- <p>完成</p> -->
                                    <!-- <p class="Rcolor">取消</p> -->
                                    <button class="text20R dbtn btnB">完備</button>
                                    <button class="text20R dbtn btnW ml-auto" data-toggle="modal" data-target="#order">查看訂單</button>
                                </td>
                            </tr>
                            <tr height="8px"></tr>

                            <!-- 取消 -->
                            <tr>
                                <td>
                                    252541
                                </td>
                                <td>
                                    2020/06/18 12:00
                                </td>
                                <td>
                                    阿信
                                </td>
                                <td>
                                    0970333215
                                </td>
                                <td class="eng20R price">
                                    88,000

                                </td>
                                <td class="action d-flex align-items-center">
                                    <!-- <p>完成</p> -->
                                    <p class="Rcolor">取消</p>
                                    <!-- <button class="text20R dbtn btnB">完備</button> -->
                                    <button class="text20R dbtn btnW ml-auto" data-toggle="modal" data-target="#order">查看訂單</button>
                                </td>
                            </tr>
                            <tr height="8px"></tr>

                            <!-- 完成 -->
                            <tr>
                                <td>
                                    252541
                                </td>
                                <td>
                                    2020/06/18 12:00
                                </td>
                                <td>
                                    阿信
                                </td>
                                <td>
                                    0970333215
                                </td>
                                <td class="eng20R price">
                                    88,000

                                </td>
                                <td class="action d-flex align-items-center">
                                    <p>完成</p>
                                    <!-- <p class="Rcolor">取消</p> -->
                                    <!-- <button class="text20R dbtn btnB">完備</button> -->
                                    <button class="text20R dbtn btnW ml-auto" data-toggle="modal" data-target="#order">查看訂單</button>
                                </td>
                            </tr>
                            <tr height="8px"></tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btnY dbtn" data-toggle="modal" data-target="#comfirm2BtnW1340">
                    選擇型彈跳框(2按鈕型)
                </button>

            </div>
        </div>
    </div>


    <!-- 訂單詳情 -->
    <div class="modal fade xl2Btn" id="order">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text28B w-100 text-center">搜尋團體</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class=" icon-close"></i>
                    </button>
                </div>
                <div class="modal-body row">
                    <div class="d-inline-block col-6">
                        <dl class="leftContent">
                            <dt class="text20B">餐點送達時間</dt>
                            <dd class="text20R">2020/06/18 12:00</dd>
                            <dt class="text20B">聯絡人</dt>
                            <dd class="text20R">阿信</dd>
                            <dt class="text20B">聯絡電話</dt>
                            <dd class="text20R">0912345678</dd>
                            <dt class="text20B">配送地址</dt>
                            <dd class="text20R">台中市西區公益路二段81號</dd>
                            <dt class="text20B">訂單建立日期</dt>
                            <dd class="text20R">2020/06/16 12:00</dd>
                        </dl>
                    </div>
                    <div class="d-inline-block col-6">
                        <ul class="rightContent">
                            <li class="orderItem align-middle">
                                <img src="../public/image/photo.jpg" alt="">
                                <p class="text20B align-middle">五月天阿信</p>
                                <p class="eng20R price align-middle">500</p>
                                <p class="eng20R align-middle">x1</p>
                            </li>
                            <li class="orderItem align-middle">
                                <img src="../public/image/photo.jpg" alt="">
                                <p class="text20B align-middle">五月天阿信</p>
                                <p class="eng20R price align-middle">500</p>
                                <p class="eng20R align-middle">x180</p>
                            </li>
                            <li class="orderItem align-middle">
                                <img src="../public/image/photo.jpg" alt="">
                                <p class="text20B align-middle">五月天阿信</p>
                                <p class="eng20R price align-middle">500</p>
                                <p class="eng20R align-middle">x100</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 詳情 -->
                <div class="modal-footer ml-auto totle">
                    <p class="text20B mr-3">總金額</p>
                    <p class="eng20R price">4,000</p>
                </div>

            </div>
        </div>
    </div>


    <!-- 選擇型彈跳框(2按鈕型) -->

    <div class="modal fade xl2Btn" id="comfirm2BtnW1340">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text28B w-100 text-center ">這筆訂單準備完成了嗎？</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class=" icon-close"></i>
                </button>


                <div class="modal-body text24R">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead class="text20R">
                                    <tr>
                                        <th style="width:18%;">
                                            訂單編號
                                        </th>
                                        <th style="width:24%;">
                                            送餐時間
                                        </th>
                                        <th style="width:18%;">
                                            聯絡人
                                        </th>
                                        <th style="width:20%;">
                                            聯絡電話
                                        </th>
                                        <th>
                                            金額
                                        </th>

                                    </tr>
                                    <tr height="8px"></tr>
                                </thead>

                                <tbody class="text20R list">
                                    <tr>
                                        <td>
                                            252541
                                        </td>
                                        <td>
                                            2020/06/18 12:00
                                        </td>
                                        <td>
                                            阿信
                                        </td>
                                        <td>
                                            0970333215
                                        </td>
                                        <td class="eng20R price">
                                            88,000

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="text20R dbtn btnW" data-dismiss="modal">尚未完成</button>
                        <button class="text20R dbtn btnY ml-3">確認完備</button>
                    </div>
                </div>
            </div>
        </div>



</body>

</html>