<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/notice.css">
    <link rel="stylesheet" href="../public/stylesheets/sEvaluation.css">

    <title>Document</title>


</head>

<body>
    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">尊品原汁牛肉麵</p>
        <div class="menu text24R ">

            <a href="" class=""><i class="icon-order"></i>訂單管理</a>
            <a href=""><i class="icon-menu"></i>餐點清單</a>
            <a href=""><i class="icon-statistics"></i>營運統計</a>
            <a href="" class="act"><i class="icon-evaluation"></i>店家評價</a>
            <a href=""><i class="icon-message "></i>通知<span class="note">3</span></a>
            <a href=""><i class="icon-about"></i>店家資訊</a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <div class="containerRight">
        <!-- 右邊內容放置區 -->
        <nav class="topTag title row inWrapper position-sticky">
            <span class="eng24R">4.8</span>
            <span class="star">
                <i class=" icon-spoon"></i>
                <i class=" icon-spoon"></i>
                <i class=" icon-spoon"></i>
                <i class=" icon-spoon"></i>
                <i class=" icon-borderspoon"></i>
            </span>
            <span class="text24B">店家評價(82)</span>
            <div class="achieve text20R  ml-auto">訂單完成率 87%</div>
        </nav>

        <ul class="evaluationList">
            <!-- 1 -->
            <li class="dblock d-flex">
                <!-- <span class="photo"></span> -->
                <img src="../public/image/message.png">
                <span class="content">
                    <h2 class="text24B">王小華</h2>
                    <div class="star">
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-borderspoon"></i>
                    </div>
                    <p class="text20R">上次訂餐非常準時地送到了，用完餐當天的熱暑也退得差不多了，是一次很棒的用餐體驗，下次會繼續訂訂！</p>
                    <p class="text16">3小時前</p>
                </span>
            </li>
            <!-- 2 -->
            <li class="dblock d-flex">
                <!-- <span class="photo"></span> -->
                <img src="../public/image/message.png">
                <span class="content">
                    <h2 class="text24B">陳大明</h2>
                    <div class="star">
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-spoon"></i>
                        <i class=" icon-borderspoon"></i>
                    </div>
                    <p class="text20R">每次不知道吃什麼的時候就會想到要吃摩斯，穩定的品質讓人吃得很放心，安心的食材把關讓人覺得開心以後會持續訂訂！</p>
                    <p class="text16">3小時前</p>
                </span>
            </li>

        </ul>
    </div>
</body>

</html>