<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript//bootstrap.min.js"></script>
    <script src="/javascript/vue.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link rel="stylesheet" href="/stylesheets/sider.css">
    <link rel="stylesheet" href="/stylesheets/notice.css">
    <link rel="stylesheet" href="/stylesheets/member.css">
    <link rel="stylesheet" href="/stylesheets/order.css">

    <title>Document</title>
    <style>
        .orderProductItemList {
            margin: 0;
        }

        ul {
            margin-bottom: 0;
        }

        .titleHead {
            background: var(--dYellow);
            color: white;
            height: 40px;
            margin-bottom: 8px;
            position: relative;
            padding-left: 32px;
            padding-right: 32px;
        }

        .titleHead>div:not(:first-child),
        .orderList li>div:not(:first-child) {
            padding-left: 32px;
        }

        .orderList li {
            padding: 14px 32px;
            border: 1px solid var(--moreLightGray);
            border-radius: 20px;

        }


        .orderList li+li {
            margin-bottom: 8px;
        }

        .orderList img {
            width: 60px;
            height: 60px;
        }

        .orderList {
            max-height: calc(100vh - 306px);
        }

        .modal .scrollList {
            padding-right: 0;
        }
    </style>

</head>

<body>
    <!-- 左邊sider -->
    <%- include('sSider', {active}); %>

    <div id="app">
        <div class="containerRight">
            <!-- 右邊內容放置區 -->

            <nav class="topTag row inWrapper position-sticky">
                <div @click="changeTab(1)" :class="{act : tab == 1}" class="dTag text24RG">今日訂單</div>
                <div @click="changeTab(2)" :class="{act : tab == 2}" class="dTag text24RG">完備訂單</div>
                <div @click="changeTab(3)" :class="{act : tab == 3}" class="dTag text24RG">預定訂單</div>
                <div @click="changeTab(4)" :class="{act : tab == 4}" class="dTag text24RG">歷史訂單</div>
                <div class="ml-auto inputSearch">
                    <i class="icon-search"></i>
                    <input type="text" class="form-control-sm text20RG " placeholder="請輸入關鍵字">
                </div>

            </nav>
            <div class="dblock">

                <div class="text20R" id="sMealList">
                    <div class="titleHead col-12 row align-items-center d-flex">
                        <div class="col-2">
                            訂單編號
                        </div>
                        <div class="col-3 ml-n5">
                            送餐時間
                        </div>
                        <div class="col-2">
                            聯絡人
                        </div>

                        <div class="col-2">
                            金額
                        </div>
                        <div v-if="(tab==1)||(tab==4)" class="col-3">
                            訂單狀況
                        </div>
                    </div>
                    <ul class="scrollList orderList">
                        <li class="row col-12 d-flex align-items-center mb-2" v-for='(order,index) in orderList'>
                            <div class="col-2">
                                {{order.orderID}}
                            </div>
                            <div class="col-3 ml-n5">
                                {{order.orderArrivedTime}}
                            </div>
                            <div class="col-2">
                                {{order.memberName}}
                            </div>

                            <div class="col-2">
                                <span class="eng20R price">
                                    <span class=" align-middle">{{order.totalPrice.toLocaleString('en-US')}}</span>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="action d-flex align-items-center">
                                    <p v-if="order.orderStatus == 5">完成</p>
                                    <p v-if="order.orderStatus == 0" class="Rcolor">取消</p>
                                    <button @click="saveData(order.orderID,index)" v-if="tab == 1"
                                        class="text20R dbtn btnB" data-toggle="modal"
                                        data-target="#readyOrder">完備</button>
                                    <button class="text20R dbtn btnW ml-auto" data-toggle="modal" data-target="#order"
                                        @click="getDetail(order.orderID)">查看訂單</button>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <button type="button" class="btnY dbtn " data-toggle="modal" data-target="#comfirm">
                成功介面
            </button>
            <button type="button" class="btnR dbtn " data-toggle="modal" data-target="#deleteType">
                刪除類別介面
            </button> -->
            </div>
        </div>


        <!-- </div>
    </div> -->


        <!-- 訂單詳情 -->
        <div class="modal fade xl2Btn" id="order">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center">訂單詳情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class=" icon-close"></i>
                        </button>
                    </div>
                    <div class="modal-body row">
                        <div class="d-inline-block col-6">
                            <dl class="leftContent">
                                <dt class="text20B">餐點送達時間</dt>
                                <dd class="text20R">{{orderDetailList[0].orderArrivedTime}}</dd>
                                <dt class="text20B">聯絡人</dt>
                                <dd class="text20R">{{orderDetailList[0].memberName}}</dd>
                                <dt class="text20B">聯絡電話</dt>
                                <dd class="text20R">{{orderDetailList[0].memberPhone}}</dd>
                                <dt class="text20B">配送地址</dt>
                                <dd class="text20R">{{orderDetailList[0].deliveryAddress}}</dd>
                                <dt class="text20B">訂單建立日期</dt>
                                <dd class="text20R">{{orderDetailList[0].orderCreateTime}}</dd>
                            </dl>
                        </div>
                        <!-- 捲軸範圍 -->
                        <div class="col-6 scrollList orderVoteList">
                            <div class="rightContent orderProductItemList text20B">
                                <div v-for="(orderDetail,index) in orderDetailList"
                                    class="orderProductItem mb-2 d-flex justify-content-between">
                                    <div>
                                        <img :src="'/image/store/' +orderDetail.productPhoto" alt="" class="itemImg">
                                        <span class="pl-2">
                                            {{orderDetail.productName}}
                                        </span>
                                    </div>
                                    <div>
                                        <span class="eng20R price">
                                            <span class=" align-middle">{{orderDetail.price}}</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span
                                            class="eng20R productQuantity pr-5 align-middle">{{orderDetail.singleQuality}}</span>
                                    </div>
                                </div>
                                <!-- <div class="orderProductItem mb-2 d-flex justify-content-between">
                                    <div>
                                        <img src="/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt="" class="itemImg">
                                        <span class="pl-2">
                                            咔啦雞腿堡
                                        </span>
                                    </div>
                                    <div>
                                        <span class="eng20R price">
                                            <span class=" align-middle">75</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="eng20R productQuantity pr-5 align-middle">11</span>
                                    </div>
                                </div>
                                <div class="orderProductItem mb-2 d-flex justify-content-between">
                                    <div>
                                        <img src="/image/store/Taichung/肯德基KFC_台中公益/咔啦雞腿堡.jpeg" alt="" class="itemImg">
                                        <span class="pl-2">
                                            咔啦雞腿堡
                                        </span>
                                    </div>
                                    <div>
                                        <span class="eng20R price">
                                            <span class=" align-middle">75</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span class="eng20R productQuantity pr-5 align-middle">11</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <!-- 詳情 -->
                    <div class="modal-footer ml-auto totle">
                        <p class="text20B mr-3">總金額</p>
                        <span class="eng20R price">
                            <span class=" align-middle">{{total}}</span>
                        </span>
                    </div>

                </div>
            </div>
        </div>


        <!-- 完備彈框 -->

        <div class="modal fade xl2Btn" id="readyOrder">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text28B w-100 text-center ">這筆訂單準備完成了嗎？</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class=" icon-close"></i>
                    </button>
                    <div v-if="orderList.length>0" class="modal-body text24R mb-m">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead class="text20R">
                                        <tr>
                                            <th style="width:18%;">
                                                訂單編號
                                            </th>
                                            <th style="width:24%;">
                                                送餐時間
                                            </th>
                                            <th style="width:18%;">
                                                聯絡人
                                            </th>
                                            <th style="width:20%;">
                                                聯絡電話
                                            </th>
                                            <th>
                                                金額
                                            </th>

                                        </tr>
                                        <tr height="8px"></tr>
                                    </thead>

                                    <tbody class="text20R list">
                                        <tr>
                                            <td>
                                                {{orderList[dateToPrepared.index].orderID}}
                                            </td>
                                            <td>
                                                {{orderList[dateToPrepared.index].orderArrivedTime}}
                                            </td>
                                            <td>
                                                {{orderList[dateToPrepared.index].memberName}}
                                            </td>
                                            <td>
                                                {{orderList[dateToPrepared.index].memberPhone}}
                                            </td>
                                            <td>
                                                <span class="eng20R price">
                                                    <span
                                                        class=" align-middle">{{orderList[dateToPrepared.index].totalPrice.toLocaleString('en-US')}}</span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button class="text20R dbtn btnW" data-dismiss="modal">尚未完成</button>
                        <button @click="prepareOK" class="text20R dbtn btnY ml-3" data-dismiss="modal">確認完備</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                orderList: JSON.parse('<%- orderList %>'),
                orderDetailList: JSON.parse('<%- orderDetailList %>'),
                dateToPrepared: {
                    orderID: "0",
                    index: "0",
                },
                tab: 1
            },
            computed: {
                total: function () {
                    let sum = 0;
                    for (let i = 0; i < this.orderDetailList.length; i++) {
                        sum = sum + (this.orderDetailList[i].price * this.orderDetailList[i].singleQuality);
                    }
                    return sum.toLocaleString('en-US');
                },
            },
            methods: {
                getDetail: function (orderID) {
                    fetch('sOrder/getDetail?orderID=' + orderID)
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            // console.log(myJson);
                            this.orderDetailList = JSON.parse(myJson);
                        });
                },
                changeTab: function (tab) {
                    fetch('sOrder/order?orderTab=' + tab)
                        .then(function (response) {
                            return response.json();
                        })
                        .then((myJson) => {
                            // console.log(myJson);
                            this.orderList = JSON.parse(myJson);
                        });
                        this.tab=tab
                },
                saveData: function (orderID, index) {
                    this.dateToPrepared.orderID = orderID;
                    this.dateToPrepared.index = index;
                },
                prepareOK: function () {
                    fetch('/sOrder/prepared', {
                        method: 'post',
                        body: JSON.stringify(this.dateToPrepared),
                        headers: new Headers({
                            'Content-Type': 'application/json'
                        })
                    }).then(function (response) {
                        return response.json();
                    }).then((myJson) => {
                        this.orderList = JSON.parse(myJson);
                        // console.log(myJson);
                    });
                    // this.tab=1;
                },
            }

        })
    </script>


</body>

</html>