<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">

    <title>Document</title>

    <!-- test -->


</head>

<body>

    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">尊品原汁牛肉麵</p>
        <div class="menu text24R">

            <a href="" class="act"><i class="icon-order"></i>訂單管理</a>
            <a href=""><i class="icon-menu"></i>餐點清單</a>
            <a href=""><i class="icon-statistics"></i>營運統計</a>
            <a href=""><i class="icon-evaluation"></i>店家評價</a>
            <a href=""><i class="icon-message"></i>通知</a>
            <a href=""><i class="icon-about"></i>店家資訊</a>

            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <div class="containerRight">
        <!-- 右邊內容放置區 -->123
    </div>

</body>

</html>