<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
    <script src="../public/javascript/jquery-3.5.1.min.js"></script>
    <script src="../public/javascript/popper.min.js"></script>
    <script src="../public/javascript//bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="stylesheet" href="../public/stylesheets/fontello.css">
    <link rel="stylesheet" href="../public/stylesheets/sider.css">
    <link rel="stylesheet" href="../public/stylesheets/sStat.css">

    <title>Document</title>



</head>

<body>

    <!-- 左邊sider -->
    <div class="slider fixed-top">
        <img src="../public/image/LOGO.png" class="sliderLogo">
        <br>
        <img src="../public/image/photo.jpg" class="sliderPhoto">
        <p class="name text24B">阿信</p>
        <div class="menu text24R">
            <a href=""><i class="icon-home"></i>首頁</a>
            <a href=""><i class="icon-claendar"></i>訂訂行事曆</a>
            <a href="" class="mb-2"><i class="icon-member"></i>會員中心<i class="icon-down-open ml-3 mr-0"
                    style="font-size: 14px;"></i></a>
            <span class="menuI d-none">
                <a href="" class="mb-0">個人資料</a>
                <a href="">我的訂訂幣</a>
            </span>
            <a href="" class="mt-4 act"><i class="icon-message"></i>通知<span class="note">3</span></a>
            <a href="" id="signOut"><i class="icon-logout"></i>登出</a>
        </div>
    </div>

    <div class="containerRight">
        <!-- 右邊內容放置區 -->

        <nav class="topTag row inWrapper position-sticky">
            <div class="dTag text24RG act">日營業額</div>
            <div class="dTag text24RG">月營業額</div>
        </nav>
        <ul class="statList">
            <li>
                <h2 class="text20RG">日期</h2>
                <p class="eng24R">2020.07.01</p>
            </li>
            <li>
                <h2 class="text20RG">訂單量</h2>
                <p class="eng24R">1,215</p>
            </li>
            <li>
                <h2 class="text20RG">銷售總額</h2>
                <p class="eng24R">$31,245</p>
            </li>
        </ul>
        <div class="dblock mt-4">

        </div>
        <div class="typeButton">
            <button class="text20R dbtn btnGB btnB">全部</button>
            <button class=" text20R dbtn btnGB ">套餐</button>
            <button class="text20R dbtn btnGB ">漢堡</button>
            <button class="text20R dbtn btnGB ">飲品</button>
        </div>
        <div class="typeCheckbox">
            <input type="checkbox" id="taichung01 ">
            <label for="taichung01" class="text20R ">全選</label>
            <input type="checkbox" id="taichung01 ">
            <label for="taichung01" class="text20R ">套餐</label>
            <input type="checkbox" id="taichung01 ">
            <label for="taichung01" class="text20R ">漢堡</label>
            <input type="checkbox" id="taichung01 ">
            <label for="taichung01" class="text20R ">飲品</label>
        </div>


    </div>



</body>

</html>