<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button onclick="q()">apple</button>
    <input type="checkbox" class="bee">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="text">

    <script>
        function q(){
            var ar = document.querySelectorAll("input[type='checkbox'][class='bee']:checked");
            console.log(ar);
        }
    </script>
</body>

</html>