nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    height: 80px;
    z-index: 998;
}

.navItem {
    line-height: 80px;
    vertical-align: center;
}

.icon-search {
    color: var(--dDeepGray);
    font-size: 1.25rem;
    /* margin-right: 20px; */
    top: 12px;
    left: 20px;
}

.serchDiv {
    width: 260px;
    height: 40px;
    background-color: var(--dLightGray);
    border-radius: 24px;
    padding: 5px 74px 8px 20px;
}

.ddselect {
    z-index: 999;
    width: 160px;
    height: 40px;
    display: inline-block;
    line-height: 80px;
}

.mr16 {
    margin-right: 16px;
}

.dBanner {
    margin-top: 80px;
    height: 416px;
    background-image: url("../image/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerText {
    font-size: 2rem;
    font-weight: 700;
    line-height: 416px;
    color: var(--dWhite);
}

.newStore {
    color: var(--dWhite);
    background-color: var(--dYellow);
    width: 53px;
    height: 30px;
    border-radius: 15px;
    float: right;
    line-height: 30px;
    padding-left: 9px;

}

.dBannerM {
    height: 406px;
    /* width: 1609px; */
    width: 100%;
    background-image: url("../image/bannerM.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerTextM {
    line-height: 406px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dWhite);
}

/* 店家卡小湯匙 */
.card-body>.icon-spoon {
    /* float: right; */
    color: var(--dYellow);
    font-size: 24px;
    /* margin-top: 25px; */
}

.footer {
    margin-top: 260px;
    height: 87px;
    background-color: var(--dYellow);
    line-height: 87px;
    font-size: 16px;
}

.footer a {
    color: var(--dWhite);
    letter-spacing: 1.28px;
}

/* 登入/註冊用的彈框圓角 */
.modal-content-index {
    border-radius: 8px;
    border: 0;
}

/* 登入彈框左側照片 */
.modelImgDivLogin {
    /* display: inline-block; */
    width: 398px;
    height: 750px;
    background-color: var(--dYellow);
    float: left;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.modelImgDivStoreLogin {
    /* display: inline-block; */
    width: 398px;
    height: 750px;
    background-color: #FFEB6A;
    float: left;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.modelImgDivForget {
    width: 398px;
    height: 750px;
    background-color: var(--dBlue);
    float: left;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

/* 註冊彈框左側照片 */
.modelImgDivRegistered {
    width: 398px;
    height: 977px;
    background-color: var(--dYellow);
    float: left;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

/* 登入or後面的線 */
.orBoder::after {
    content: '';
    display: block;
    background-color: #ECEEEF;
    height: 1px;
    width: 177px;
    margin-top: -13px;
    margin-left: 35px;
}

/* 登入or前面的線 */
.orBoder::before {
    content: '';
    display: block;
    background-color: #ECEEEF;
    height: 1px;
    width: 177px;
    margin-bottom: -16px;
    margin-left: -190px;
}

/* 左右照片設定 */
.lrImg {
    width: 32px;
    height: 32px;
    float: right;
    /* top: 0px; */
    opacity: 0.5;
}

/* 左右hover */
.lrImg:hover {
    opacity: 1;
    transition-duration: 0.7s;
}

/* fb快速登入 */
.fb {
    width: 202px;
    height: 44px;
    border: 1px solid #DDDDDD;
    border-radius: 30px;
    display: inline-block;
    margin-right: 20px;
    background-image: url(../image/facebook.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px 10px;
    text-align: right;
    padding-top: 9px;
    font-size: 18px;
    padding-right: 20px;
    letter-spacing: 1.2px;

}

/* google登入 */
.google {
    width: 176px;
    height: 44px;
    border: 1px solid #DDDDDD;
    border-radius: 30px;
    display: inline-block;
    /* margin-right: 20px; */
    background-image: url(../image/google.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 16px 10px;
    text-align: right;
    padding-top: 9px;
    font-size: 18px;
    padding-right: 20px;
    letter-spacing: 1.2px;
}

/* 店家彈框 */
.storeModelImg {
    width: 1440px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: 1440px auto;
    background-size: cover;
    display: block;
    background-position: 50% 50%;
    /* position: fixed; */
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    /* z-index: 999; */
}

.storeModelImg>img {
    width: 1440px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.storeModelImgContent {
    background-color: var(--dWhite);
    /* width: 543px; */
    width: auto;
    display:inline-block;
    margin-top: 62px;
    padding-top: 40px;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 40px;
}

.spoon>.icon-spoon,
.spoon>.icon-borderspoon {
    font-size: 24px;
    color: var(--dYellow);
    margin-left: -6px;
    margin-right: -6px;
}


.storeModelImgContentBottom {
    /* width: 543px; */
    padding-left: 42px;
    margin-top: 27px;
    margin-bottom: 26px;
}

/* 店家彈框內的愛心icon */
.storeModelImgContentBottom>.icon-heart {
    color: var(--dWhite);
    opacity: 0.6;
    font-size: 30px;
}

/* 愛心icon hover +透明度調高 */
.icon-heart:hover {
    opacity: 0.8;
}

/* 店家彈框XX */
.storeClose {
    color: var(--dWhite);
}
/* 側邊分類小標題清單 */
.storeUl>li {
    margin-bottom: 25px;
}
.storeUl{
    /* width: 100px; */
    margin-right: 40px;
    margin-top: 40px;
}

/* 店家彈框側邊小分類標題前面的黃線 */
.storeContent::before{
    content: '';
    display: block;
    border-radius: 1px;
    background-color: var(--dYellow);
    opacity: 0;
    height: 2px;
    width: 25px;
    margin-left: -39px;
    margin-bottom: -11px;
}

/* 被點選的分類標題要加的class */
.actMeals{
    color: var(--dYellow) !important;
    font-weight: 700;
}
.actMeals.storeContent::before{
    opacity: 1;
}

/* 預設分類小標題文字顏色 */
li>.storeContent {
    font-size: 1rem;
    color: #777777;
}

/* 預設分類小標題hover樣式 */
li>.storeContent:hover {
    color: var(--dYellow);
    transition-duration: 0.5s;
}
/* 首頁店家彈框->店家資訊 */
.storeAbout{
    width: 16px;
    height: 16px;
    margin-bottom: 4px;
}

.row {
    margin-right: -16px;
}


/* 返回登入按鈕 */
.btn398G{
    margin-bottom: 24px;
    width: 398px;
    color: var(--dBlack);
    border: 1px solid #DDDDDD;
    background-color: var(--dWhite);
}