/* tag */

.topTag {
    padding-top: 48px;
    top: 0;
    padding-left: 40px;
    padding-bottom: 16px;
}

.dTag::after {
    background-color: var(--dBlue);
}


/* 按鈕 */

.buttonGroup button+button {
    margin-left: 16px;
}


/* 表內容 */

.titleHead {
    background: var(--dYellow);
    color: white;
    height: 40px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 8px;
}

.mealList li {
    padding: 14px 32px;
    border: 1px solid var(--moreLightGray);
    border-radius: 20px;
    margin-bottom: 8px;
}

.mealList img {
    width: 60px;
    height: 60px;
}

.desc {
    width: calc(100% - 196px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


/* 名次 */

.fst img,
.snd img,
.trd img {
    width: 40px;
    height: 40px;
}

.fst,
.snd,
.trd {
    position: relative;
}

.fst::after,
.snd::after,
.trd::after {
    display: inline-block;
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    font-weight: 700;
    color: var(--dBlack);
}


/* 垃圾桶 */

.icon-trash {
    font-size: 30px;
    color: var(--moreLightGray);
    margin-left: 20px;
}

.icon-trash:hover {
    font-size: 30px;
    color: var(--dBlack);
    cursor: pointer;
}


/* 新增產品 */

ul {
    margin-bottom: 0;
}

.upload,
.mealInfo img {
    width: 220px;
    height: 220px;
    border-radius: 20px;
}

.mealInfo img {
    border: 1px solid #C9C9C9;
}

.upload {
    background: #F8F8F8;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#product .modal-body,
#typeManager .modal-body,
#recommend .modal-body {
    padding-left: 60px;
}

.btnLG {
    border: 1px solid #C9C9C9;
    background-color: #ffffff;
}

.inputInfo {
    margin-left: 90px;
}

.inputInfo .text24B {
    margin-right: 40px;
}

.inputInfo .singleText398,
.inputInfo .ddselect,
.inputInfo .selectContent {
    width: 410px;
}

.inputInfo li+li {
    margin-top: 40px;
}

.multiText398 {
    width: 100%;
}


/* 類別管理介面 */

.typrItem {
    margin-bottom: 40px;
}

.typrItem .singleText398 {
    width: 100%;
    margin-right: 40px;
}

.typeInfo button {
    margin-bottom: 20px;
}


/* 推薦產品介面 */

#recommend .fst {
    margin-right: 40px;
}

.recommendItem+.recommendItem {
    margin-top: 40px;
}

.mealList {
    max-height: calc(100vh - 354px);
}

.typeList {
    max-height: calc(100vh - 420px);
}