/* 會員前台共用 */

.mTH {
    background-color: var(--dYellow);
    padding: 8px 32px;
    border-right: solid 4px var(--dWhite);
}

.mTR {
    margin-top: 4px;
    border: 1px solid var(--moreLightGray);
    border-radius: 10px;
}

.mTD {
    padding: 11px 32px;
}

.textB {
    color: var(--dBlue);
}

.textG {
    color: var(--moreLightGray);
}

.textY {
    color: var(--dYellow);
}

.textR {
    color: var(--dRed);
}

.textW{
    color:var(--dWhite);
}

.topBtnGroup {
    padding-left: 32px;
}

.imgBorder {
    border-right: 18px solid var(--dWhite);
}

.itemImg{
    height: 80px;
    width: 80px;
    padding: 2px 0 2px 2px;
}

.itemBorder{
    border-right: solid 9px var(--dWhite);
}

.itemBorder:nth-child(even){
    border-left: solid 9px var(--dWhite);
    border-right:0;
}

.clipCircle {
    clip-path: circle(50% at 50% 50%);
}

.price::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../image/coin.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 16px;
}

/* vote */
.vTH{
    background-color: var(--dBlue);
}

.voteItem {
    padding: 16px 24px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--dLightGray);
}


.voteItemNo {
    line-height: 84px;
}

.voteItemSelected {
    border: 1px solid var(--dBlue);
    background-color: rgba(151, 210, 214, .3);
}

.progress {
    height: 0.75rem;
    font-size: 0.75rem;
    background-color: var(--moreLightGray);
    border-radius: 0.5rem;
}

.progress-bar {
    text-align: center;
    white-space: nowrap;
    background-color: var(--dBlue);
    transition: width 0.6s ease;
    border-radius: 0.5rem;
}

.progressSelected {
    background-color: var(--dWhite);
}

.progress-barSelected {
    background-color: var(--dBlue);
}


/* order */

.orderListimg{
    height: 28px;
    width: 28px;
}

.orderSection{
    background-color: #F2F2F2;
    margin-right: -40px;
    margin-left:-40px ;
}

.orderSectionInner{
    margin-right:40px;
    margin-left:40px ;
    padding:17px 0 13px 40px;
    line-height: 40px;
}

.orderSectionImg{
    height: 40px;
    width: 40px;
}

.orderSectionMTD {
    padding: 11px 0 11px 32px;
}

.orderProductItem{
    background-color: var(--dLightGray);
  
}

.orderProductItemInner{
    line-height: 80px;
}

.countP .icon-minus::before{
    position: absolute;
    top: 0;
    left: 4%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    line-height: 36px;
    color: var(--dDeepGray);
    background-color: var(--moreLightGray) ;
}

.countP .icon-plus::before{
    position: absolute;
    top:0;
    right: 4%;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    line-height: 36px;
    color: var(--dWhite);
    background-color: var(--dYellow);
}

/* member */

.dCoinBlock{
    width: 506px;
    background-color: var(--dWhite);
    padding: 8px 8px 8px 40px;
    border-radius: 30px;
}

.mb-xxl {
    margin-bottom: 100px !important;
}

.mInfo{
    width: 886px;
    border-radius: 20px;
    padding: 40px;
    background-color: var(--dWhite);
}

.mCollection{
    position: absolute;
    left:1382px;
    width: 398px;
    border-radius: 20px;
    padding: 40px;
    background-color: var(--dWhite);
}

.memberPhoto {
    width: 150px;
    height: 150px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 152px;
    left: 518px;
}

.icon-photo-1::before{
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--dYellow);
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--dWhite);
    border: 2px solid var(--dYellow);
}

.icon-trash::before{
    font-size:28px;
    color: var(--moreLightGray);
    float: right;
    padding-top: 4px;
}

.mInfo .singleText398{
    width: 100%;
}


.cTH{
    background-color: #F9FAFC;
    padding: 8px 32px;
}

.cTR{
    border-bottom: 1px solid var(--moreLightGray);
    height: 60px;
    padding: 6px 0;
}