<<<<<<< HEAD
/* 友文製 */


/* 英數字設定 */

.eng40R {
    /* font-family: 'Alata'; */
=======
:root {
    --light-gray: #DADCE0;
}

/* 英數字設定 */
.eng40R {
    font-family: 'Alata';
>>>>>>> yee
    font-size: 2.5rem;
    color: var(--dBlack);
    letter-spacing: 2.88px;
}

.eng24W {
<<<<<<< HEAD
    /* font-family: 'Alata'; */
=======
    font-family: 'Alata';
>>>>>>> yee
    font-size: 1.5rem;
    color: var(--dWhite);
    letter-spacing: 2.88px;
}

<<<<<<< HEAD

=======
>>>>>>> yee
/* 輸入框 */

.singleText400 {
    width: 228px;
    height: auto;
    padding: 10px 20px 10px 20px;
    background-color: var(--dWhite);
    border: none;
    border-radius: 24px;
}

<<<<<<< HEAD

/* marging */

.mr-xs {
    margin-right: 16px;
}

.mr-m {
    margin-right: 32px;
}


/* padding */

.pl-m {
    padding-left: 32px;
}


=======
/* marging */

.mr-xs {
    margin-right: 16px ;
}

>>>>>>> yee
/* li */

.liBorder {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}