.topTag {
    margin-top: 48px;
}

.more {
    background: url(../image/more.png) no-repeat center;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* 通知項目 */

.noticeItem {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 10px 20px 20px 10px;
}