/* 店家資訊區塊設定 */

.information {
    height: 858px;
    /* margin-top: 40px; */
    padding-left: 74px;
    padding-top: 100px;
    position: relative;
}


/* 側欄配送地區區塊設定 */

.delivery {
    /* height: 900px; */
    padding-top: 40px;
}


/* 右上三顆按鈕設定 */

.rightbtn {
    float: right;
    /* left: 902px; */
}

.btnDiv {
    height: 103px;
    position: relative;
    padding-top: 60px;
}


/* 三顆按鈕的 margin */

.rightbtn>.btn {
    margin-right: 20px;
}


/* 裝店家資訊的袋子 */

.storeTitleDiv {
    margin-bottom: 40px;
}


/* 標題文字與輸入框距離 */

.storeTitle {
    margin-right: 52px;
}


/* 店家照片圓圈 */

.memberPhoto {
    width: 150px;
    height: 150px;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 103px;
    left: 518px;
}

.icon-photo-1::before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--dYellow);
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--dWhite);
    border: 2px solid var(--dYellow);
}


/* 圓圈裡的照片尺寸 */

.circle>img {
    width: auto;
    height: 150px;
}


/* 店家資訊文字輸入框 */

.aboutTextarea {
    height: 120px;
    /* position: absolute; */
    border-radius: 24px;
    display: inline-block;
    width: calc(100% - 222px);
}


/* 加號設定 */

.newIcon {
    font-size: 12px;
    position: relative;
    bottom: 4px;
    margin-left: 15px;
}

.noteTextarea {
    border-radius: 24px;
    height: 149px;
    margin-top: 16px;
}


/* 多行輸入框重新設定 */

.multiText398 {
    padding: 16px 25px 16px 20px;
}


/* 地區選擇 */

input[type="checkbox"] {
    -webkit-appearance: none;
    vertical-align: center;
    /* margin-top: 5px; */
    background: var(--dWhite);
    border: #c9c9c9 solid 1px;
    border-radius: 5px;
    min-height: 20px;
    min-width: 20px;
    margin-right: 12px;
    position: relative;
}

input[type=checkbox]:checked::after {
    content: '';
    top: 4px;
    left: 4px;
    position: absolute;
    background: transparent;
    border: var(--dYellow) solid 2px;
    border-top: none;
    border-right: none;
    height: 6px;
    width: 10px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.area {
    margin-bottom: 23px;
    width: 135px;
    display: inline-block;
}

.areaBlock {
    width: 313px;
    height: auto;
    padding-left: 20px;
    padding-right: 18px;
    padding-top: 22px;
    padding-bottom: 15px;
    line-height: 0px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
    position: absolute;
}


/* 彈框北部中部南部標題 */

.areaTitle {
    display: inline-block;
    margin-right: 24px;
}


/* 縣市checkbox+下拉式選單 */

.areaSelect {
    display: inline-block;
    position: relative;
    margin-right: 14px;
}

.areaSelected {
    margin-bottom: 20px;
    padding-left: 16px;
    padding-right: 12px;
    display: inline-block;
    margin-right: 16px;
}

[id *="taichung"] {
    margin-right: 13px;
}

.contry {
    height: 48px;
    border: 1px solid #C9C9C9;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: var(--dLightGray);
    padding: 10px 15px;
    display: inline-block;
}

.contrySelect {
    width: 40px;
    height: 48px;
    border: 1px solid #C9C9C9;
    border-left: none;
    background: url("../image/select.png")scroll transparent;
    background-position: left 15px top 50%;
    background-repeat: no-repeat;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    display: inline-block;
}

label {
    margin-bottom: 0;
}