/* 瀏覽器縮放 */


/* body {
        transform: scale(0.67);
        transform-origin: 0.0;
    }
     */

 :root {
    /* 主色 */
    --dYellow: #ECA72A;
    /* 副色 */
    --dBlue: #97D2D6;
    /* 文字輸入框、背景色 */
    --dLightGray: #F8F8F8;
    /* 輸入框文字色 */
    --dDeepGray: #777777;
    /* 部分按鈕字色 */
    --dWhite: #FFFFFF;
    /* 取消的紅色 */
    --dRed: #D9534F;
    /* 按鈕hover */
    --ddYellow: #d89316;
    --ddBlue: #83BEC2;
    --ddRed: #C53F3B;
    --dBlack: #373A3C;
    /* 淡灰色用於垃圾桶、外框 */
    --moreLightGray: #DDDDDD;
}

ul {
    padding-left: 0;
}

.row {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Alata', 'Noto Sans TC' !important;
    /* font-family: , sans-serif !important; */
    /* Regular 是400，Bold是700 */
    cursor: url(../image/網頁游標-2-02.cur), auto;
}


/* 字型 */

@font-face {
    font-family: Noto Sans TC;
    src: url(../font/NotoSansTC-Regular.otf);
}

@font-face {
    font-family: Alata;
    src: url(../font/Alata-Regular.ttf);
}

button:hover,
a:hover,
.ddselect:hover,
.lrImg:hover,
.icon-heart:hover,
.storeContent:hover,
.dTag:hover,
.countryPoint:hover {
    cursor:url(../image/網頁游標-1-02.cur), pointer;
}


/* 消除預設 */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none !important;
}

[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}


/* 首頁背景 */

.wrapper {
    background-color: var(--dWhite);
}


/* 登入後、其他頁背景 */

.inWrapper {
    background-color: var(--dLightGray);
}


/* 首頁container */

.mContainer {
    width: 100%;
    padding-right: 140px;
    padding-left: 140px;
    margin-right: auto;
    margin-left: auto;
}

.mContainerContent {
    width: 100%;
    padding-right: 156px;
    padding-left: 156px;
    margin-right: auto;
    margin-left: auto;
}


/* 一般頁面container */

.dContainer {
    width: 100%;
    padding-right: 140px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
}


/* 內容區塊間隔 */

.givePadding {
    padding-top: 40px;
}


/* 文字設定 */


/* 28px Bold 黑色 */

.text28B {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--dBlack);
    letter-spacing: 3.92px;
}


/* 24px Bold 黑色 */

.text24B {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dBlack);
    letter-spacing: 2.88px;
}


/* 24px Regular 黑色 */

.text24R {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dBlack);
    letter-spacing: 2.4px;
}


/* 24px Regular 灰色 */

.text24RG {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--dDeepGray);
    letter-spacing: 2.88px;
}


/* 20px Bold 黑色 */

.text20B {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dBlack);
    letter-spacing: 2px;
}


/* 20px Bold 白色 */

.text20BW {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dWhite);
    letter-spacing: 2px;
}


/* 20px Regular 黑色 */

.text20R {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--dBlack);
    letter-spacing: 2px;
}


/* 20px Regular 灰色 */

.text20RG {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--dDeepGray);
    letter-spacing: 2px;
}

.text16R {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dBlack);
    letter-spacing: 1.28px;
}

.text16R:hover {
    color: var(--dYellow);
}


/* 英數字 24px 黑色 */

.eng24R {
    font-family: 'Alata';
    font-size: 1.5rem;
    color: var(--dBlack);
    letter-spacing: 2.88px;
}


/* 英數字 20px 黑色 */

.eng20R {
    font-family: 'Alata';
    font-size: 1.25rem;
    color: var(--dBlack);
    letter-spacing: 2px;
}


/* 按鈕區 */


/* 所有按鈕套用 */

.dbtn {
    height: auto;
    width: auto;
    /* 待確 */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 30px;
    border: none;
    /* line-height: 1rem; */
}


/* 灰底白字按鈕，hover變黃色 */

.btnGY {
    color: var(--dBlack);
    background-color: #DDDDDD;
    margin-right: 16px;
}


/* 灰底白字按鈕，hover變藍色 */

.btnGB {
    color: var(--dBlack);
    background-color: #DDDDDD;
    margin-right: 16px;
}


/* 黃底白字按鈕(長度依字數決定) */

.btnY {
    color: var(--dWhite);
    background-color: var(--dYellow);
}


/* 白底黃框黃字按鈕 */

.btnW {
    color: var(--dYellow);
    background-color: var(--dWhite);
    border: 1px solid var(--dYellow);
}

.btnB {
    color: var(--dWhite);
    background-color: var(--dBlue);
}

.btnR {
    color: var(--dWhite);
    background-color: var(--dRed);
}


/* 固定長度按鈕 */

.btn398 {
    width: 398px;
    color: var(--dWhite);
    background-color: var(--dYellow);
}


/* 左右按鈕 */

.lrBtn {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--dYellow);
    opacity: 60%;
    text-align: center;
    color: var(--dWhite);
    font-size: 1rem;
    line-height: 32px;
    font-weight: 800;
}


/* 上排按鈕與上距離 */

.topBtnPadding {
    padding-top: 60px;
}


/* 按鈕hover特效 */

.btnY:hover,
.btn398:hover {
    background-color: var(--ddYellow);
    transition-duration: 0.5s;
}

.btnW:hover {
    color: var(--dWhite);
    background-color: var(--dYellow);
    transition-duration: 0.5s;
}

.btnB:hover {
    background-color: var(--ddBlue);
    transition-duration: 0.5s;
}

.btnR:hover {
    background-color: var(--ddRed);
    transition-duration: 0.5s;
}

.btnGY:hover {
    color: var(--dWhite);
    background-color: var(--dYellow);
}

.btnGB:hover {
    color: var(--dWhite);
    background-color: var(--dBlue);
}


/* focus狀態 */

button,
input,
textarea,
select:focus {
    outline: none !important;
}


/* 文字輸入框區 */


/* 提示字顏色 */

 ::placeholder {
    color: var(--dDeepGray);
}


/* 關閉多行文字框縮放功能 */

textarea {
    resize: none;
}



/* 單行輸入框 */

.singleText398 {
    width: 398px;
    height: auto;
    padding: 10px 20px 10px 20px;
    background-color: var(--dLightGray);
    border: none;
    border-radius: 24px;
}


/* 多行文字輸入框 */

.multiText398 {
    width: 398px;
    height: 160px;
    background-color: var(--dLightGray);
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1.75rem;
    border: none;
    border-radius: 4px;
}


/* 頁籤切換(待確) */


/* 頁籤名稱與右邊名稱的距離 */

.dTag {
    margin-right: 40px;
    float: left;
}


/* 被點選的頁籤需增加的Class */

.act {
    font-weight: 700;
    color: var(--dBlack);
    padding-bottom: 7px;
    margin-right: 40px;
}


/* 頁籤下方的黃色線透明度0% */

.dTag::after {
    content: "";
    display: block;
    border-radius: 2px;
    background-color: var(--dYellow);
    opacity: 0;
    height: 4px;
    width: auto;
    margin-top: 3px;
}


/* 被點選的頁籤下方的黃色線透明度100% */

.act.dTag::after {
    opacity: 1;
}


/* 照片設定 */


/* 店家照片卡 */

.imgCard {
    /* width: 520px; */
    width: auto;
    height: 358px;
    margin-top: 23px;
}


/* 照片袋子 */

.dingImgDiv {
    width: 100%;
    overflow: hidden;
    position: relative;
}


/* 照片 */

.dingImg {
    max-height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    border-radius: 4px;
    object-fit: cover;
}


/* 照片半透明遮罩 */

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/* 收藏 */

.heart {
    color: var(--dWhite);
    font-size: 30px;
    position: absolute;
    bottom: 80px;
    right: 16px;
    opacity: 0.4;
}


/* 店家名稱 */

.shopName {
    width: 100%;
    /* padding-right: 20px; */
    /* margin-top: 26px; */
    /* position: absolute; */
    overflow: hidden;
    display: -webkit-box;
    /* display: inline-block; */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}


/* 評分 */

.score {
    position: absolute;
    right: 36px;
    /* bottom: 4px; */
    margin-top: 26px;
}

.dingImgDiv:hover .dingImg {
    opacity: 0.5;
}

.dingImgDiv:hover .middle {
    opacity: 1;
}

.imgCard::after {
    content: "";
    display: block;
    border-radius: 1px;
    background-color: #DDDDDD;
    opacity: 1;
    height: 2px;
    width: auto;
    /* margin-top: 5px; */
}

.card-body {
    padding-bottom: 5px;
    padding-top: 26px;
    padding-left: 0;
    padding-right: 2px;
}

.meals {
    margin-left: 23px;
}


/* 店家彈框菜單滾動軸 */

.mealsScroll {
    overflow-y: scroll;
    width: 1190px;
    height: 40vh;
    padding-bottom: 40px;
}

.mealsScroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mealsScroll::-webkit-scrollbar-thumb {
    border-radius: 100px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: var(--dYellow);
    opacity: 0.7;
}

.mealsCard {
    width: 344px;
    height: 154px;
    border: 1px solid #DDDDDD;
    position: relative;
    display: inline-block;
    padding: 2px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.mealsName {
    left: 16px;
    top: 11px;
    position: relative;
}

.mealsCard img {
    width: auto;
    height: 148px;
}

.mealsCardDiv {
    height: 148px;
    width: 148px;
    position: absolute;
    right: 2px;
    top: 2px;
    overflow: hidden;
}

.mealsDetail {
    font-size: 1rem;
    color: #777777;
    top: 6px;
    left: 16px;
    position: relative;
}

.mealsPrice {
    position: absolute;
    top: 112px;
    left: 16px;
    width: 120px;
    height: 28px;
    display: block;
}

.mealsPrice>img {
    width: auto;
    height: 23px;
    margin-top: 0px;
    margin-right: 16px;
    vertical-align: middle;
}


/* 自製下拉選單，長度記得另外設定 */


/* 展開時將dOptionDivOff改為dOptionDivOn，dSelect改為dSelectClick */


/* 下拉選單平常樣式(四個圓角) */

.dSelect {
    height: 48px;
    color: var(--dBlack);
    background-color: var(--dLightGray);
    border-radius: 24px 24px 24px 24px;
}


/* 下拉選單展開樣式(左下佑下圓角消除) */


/* 展開時dSelect改為dSelectClick */

.dSelectClick {
    height: 48px;
    color: var(--dBlack);
    background-color: var(--dLightGray);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}


/* 下拉選單文字+倒三角形 */

.dSelectText {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    background: url("../image/select.png")scroll transparent;
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
}


/* 下拉選單選項設定 */

.dOption {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 48px;
    background-color: var(--dLightGray);
}


/* 下拉選單選項hover樣式 */

.dOption:hover {
    color: var(--dWhite);
    background-color: var(--dYellow);
}


/* 下拉選單最後一項左下佑下圓角設定 */

.dOption:nth-last-child(1) {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}


/* 下拉選單收合時設定 */

.dOptionDivOff {
    display: none;
    position: absolute;
}


/* 下拉選單展開時設定 */


/* 展開時將dOptionDivOff改為dOptionDivOn */

.dOptionDivOn {
    position: absolute;
}


/* 內容區塊圓角、背景色設定，長寬記得另外設定 */

.dblock {
    border-radius: 20px;
    padding: 40px;
    background-color: var(--dWhite);
}


/* margin */

.mt-xs {
    margin-top: 20px !important;
}

.mt-s {
    margin-top: 24px !important;
}

.mt-m {
    margin-top: 40px !important;
}

.mt-l {
    margin-top: 60px !important;
}

.mt-xl {
    margin-top: 80px !important;
}

.mb-xs {
    margin-bottom: 20px !important;
}

.mb-s {
    margin-bottom: 24px !important;
}

.mb-m {
    margin-bottom: 40px !important;
}

.mb-l {
    margin-bottom: 60px !important;
}

.mb-xl {
    margin-bottom: 80px !important;
}


/* 彈跳框 */

.modal-content {
    border-radius: 20px;
    border: 0;
}

.modal-header,
.modal-footer,
.modal-body {
    border: none;
    padding-left: 40px;
    padding-right: 40px;
}

.modal-header-index {
    padding-top: 80px;
    padding-left: 155px;
    /* padding-right: 195px; */
    border: 0;
}

.modal-header {
    padding-top: 40px;
    padding-bottom: 0;
}

.modal-body {
    padding-top: 0px;
    margin-bottom: 60px;
    margin-top: 20px;
    padding-bottom: 0;
}

.modal-footer {
    padding-top: 0;
    padding-bottom: 40px;
}

.modal-footer>* {
    margin: 0;
}

.modal .close {
    position: absolute;
    right: 24px;
    top: 24px;
}


/* width-800 1000 1340  */

.xl2Btn .modal-header,
.xl2Btn .modal-footer,
.xl2Btn .modal-body {
    padding-left: 60px;
    padding-right: 60px;
}

.xl2Btn .modal-header {
    padding-top: 56px;
}

.xl2Btn .modal-footer {
    padding-bottom: 60px;
}

.xl2Btn .modal-body,
.l2Btn .modal-body,
.m2Btn .modal-body {
    margin-top: 40px;
}

.l2Btn .modal-footer,
.l2Btn .modal-body,
.m2Btn .modal-footer,
.m2Btn .modal-body {
    padding-right: 60px;
}


/* 彈框尺寸 */

.sm2Btn .modal-dialog,
.sm1Btn .modal-dialog,
.inputS .modal-dialog {
    max-width: 536px;
    margin-top: 270px;
}

.inputXL .modal-dialog {
    max-width: 1088px;
}

.m2Btn .modal-dialog {
    max-width: 800px;
}

.l2Btn .modal-dialog {
    max-width: 1000px;
}

.xl2Btn .modal-dialog {
    max-width: 1340px;
}

.storeModel .modal-dialog {
    max-width: 1440px;
    height: 90vh;
}

.redColor {
    color: var(--dRed);
}

.storeModel {
    padding-top: 40px;
    margin-bottom: 40px;
}


/* 輸入型彈框尺寸  */

.modal-continer {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
}

.modal-continer-index {
    margin-top: 95px;
    padding-left: 138px;
    padding-right: 138px;
}

.inputL .singleText398,
.inputS .singleText398 {
    display: block;
    width: 100%;
}

.inputL .singleText398 {
    margin-bottom: 40px;
}

.inputXL .singleText398 {
    margin-bottom: 30px;
}

.inputS .modal-continer {
    margin-top: 24px;
    margin-bottom: 40px;
}


/* 彈框mt */


/* .inputL .modal-dialog,
.inputXL .modal-dialog,
.storeModel .modal-dialog{
    margin-top: 0;
} */


/* 確認型彈跳框 */

.sm1Btn .modal-header {
    padding-top: 56px;
    padding-bottom: 40px;
}

#readyOrder .modal-footer {
    padding-bottom: 40px;
}


/* 訂訂幣 */

.eng24R.price::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../image/coin.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 4px;
}

.eng20R.price::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: url(../image/coin.png) no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 4px;
}


/* 搜尋 */

.form-control-sm {
    border: none;
    border-radius: 0 30px 30px 0;
    width: calc(100% - 4rem);
    padding: 0;
}

.icon-search {
    color: var(--dDeepGray);
    font-size: 1.25rem;
    margin-right: 20px;
}

.inputSearch {
    background: white;
    padding: 0 20px;
    width: 260px;
    border-radius: 30px;
    height: 40px;
}


/* 上下鍵 */

.lrImg {
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.lrImg:hover {
    opacity: 1;
    transition-duration: 0.7s;
}


/* 滾輪 */

.scrollList {
    width: calc(100% + 24px);
    overflow-y: scroll;
    padding-right: 16px;
    position: relative;
    /* 100vh-需要佔的高度 */
    /* max-height: calc(100vh - 420px); */
    /* padding-right: 20px; */
}

.scrollList::-webkit-scrollbar {
    width: 8px;
}

.scrollList::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: var(--dYellow);
}
/* 進場延遲 */
#indexLoading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color:var(--dLightGray);
    background-image: url("../image/loading2.gif");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
}
#loading{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: calc(100vw - 400px);
    height: 100vh;
    background-color:var(--dLightGray);
    background-image: url("../image/loading2.gif");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: center;
    /* float: right; */
}
.load{
     display: none;
}   