.dTag::after {
    background-color: var(--dBlue);
}

.vTH {
    background-color: var(--dBlue);
    padding: 8px 32px;
    border-right: solid 4px var(--dWhite);
}

.vTR {
    margin-top: 4px;
    border: 1px solid var(--moreLightGray);
    border-radius: 10px;
}

.vTD {
    padding: 11px 32px;
}

.textB {
    color: var(--dBlue);
}

.textG {
    color: var(--moreLightGray);
}

.textY {
    color: var(--dYellow);
}

.textR {
    color: var(--dRed);
}

.topBtnGroup {
    padding-left: 32px;
}

.imgBorder {
    border-right: 18px solid var(--dWhite);
}

.voteItem {
    padding: 16px 24px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--dLightGray);
}

.voteItemSelected {
    border: 1px solid var(--dBlue);
    background-color: rgba(151, 210, 214, .3);
}

.clipCircle {
    height: 80px;
    width: 80px;
    clip-path: circle(50% at 50% 50%);
}

.progress {
    height: 1.25rem;
    font-size: 0.75rem;
    background-color: var(--moreLightGray);
    border-radius: 0.5rem;
}

.progress-bar {
    text-align: center;
    white-space: nowrap;
    background-color: var(--dBlue);
    transition: width 0.6s ease;
    border-radius: 0.5rem;
}

.progressSelected {
    background-color: var(--dWhite);
}

.progress-barSelected {
    background-color: var(--dBlue);
}

.voteItemNo {
    line-height: 84px;
}