
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-statistics:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e806'; } /* '' */
.icon-borderspoon:before { content: '\e807'; } /* '' */
.icon-claenderstatus:before { content: '\e808'; } /* '' */
.icon-close:before { content: '\e809'; } /* '' */
.icon-member:before { content: '\e80a'; } /* '' */
.icon-homepageclose:before { content: '\e80c'; } /* '' */
.icon-new:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e814'; } /* '' */
.icon-search:before { content: '\e815'; } /* '' */
.icon-plus:before { content: '\e816'; } /* '' */
.icon-service:before { content: '\e817'; } /* '' */
.icon-spoon:before { content: '\e818'; } /* '' */
.icon-trash:before { content: '\e81b'; } /* '' */
.icon-vote:before { content: '\e81d'; } /* '' */
.icon-photo-1:before { content: '\e821'; } /* '' */
.icon-about:before { content: '\e822'; } /* '' */
.icon-claendar:before { content: '\e823'; } /* '' */
.icon-evaluation:before { content: '\e824'; } /* '' */
.icon-home:before { content: '\e825'; } /* '' */
.icon-logout:before { content: '\e826'; } /* '' */
.icon-crown:before { content: '\e827'; } /* '' */
.icon-menu:before { content: '\e828'; } /* '' */
.icon-message:before { content: '\e829'; } /* '' */
.icon-order:before { content: '\e82a'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */